<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Message verbs by transaction models</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Message verbs by transaction models</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/10465.png" alt="06. Message verbs by transaction models" usemap="#10465map"/>
			   <map name="10465map">
				  		<area shape="rect" coords="736,103,875,162" href="../elements/10482.html"  target="element">
				  		<area shape="rect" coords="483,103,622,162" href="../elements/10481.html"  target="element">
				  		<area shape="rect" coords="170,103,309,162" href="../elements/10480.html"  target="element">
				  		<area shape="rect" coords="950,304,1089,363" href="../elements/10479.html"  target="element">
				  		<area shape="rect" coords="790,304,929,363" href="../elements/10478.html"  target="element">
				  		<area shape="rect" coords="623,303,762,362" href="../elements/10477.html"  target="element">
				  		<area shape="rect" coords="570,203,709,262" href="../elements/10476.html"  target="element">
				  		<area shape="rect" coords="90,377,229,436" href="../elements/10475.html"  target="element">
				  		<area shape="rect" coords="10,290,149,349" href="../elements/10474.html"  target="element">
				  		<area shape="rect" coords="403,203,542,262" href="../elements/10473.html"  target="element">
				  		<area shape="rect" coords="483,10,622,69" href="../elements/10472.html"  target="element">
				  		<area shape="rect" coords="310,377,449,436" href="../elements/10471.html"  target="element">
				  		<area shape="rect" coords="190,304,329,363" href="../elements/10470.html"  target="element">
				  		<area shape="rect" coords="390,304,529,363" href="../elements/10469.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10469.html" target="element"> ACKNOWLEDGE </a> </td>
											    <td> <a href="../elements/10469.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10470.html" target="element"> CANCEL </a> </td>
											    <td> <a href="../elements/10470.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10471.html" target="element"> CHANGE </a> </td>
											    <td> <a href="../elements/10471.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10472.html" target="element"> CONFIRM </a> </td>
											    <td> <a href="../elements/10472.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10473.html" target="element"> GET </a> </td>
											    <td> <a href="../elements/10473.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10474.html" target="element"> PROCESS </a> </td>
											    <td> <a href="../elements/10474.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10475.html" target="element"> RESPOND </a> </td>
											    <td> <a href="../elements/10475.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10476.html" target="element"> SHOW </a> </td>
											    <td> <a href="../elements/10476.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10477.html" target="element"> SYNC ADD </a> </td>
											    <td> <a href="../elements/10477.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10478.html" target="element"> SYNC CHANGE </a> </td>
											    <td> <a href="../elements/10478.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10479.html" target="element"> SYNC DELETE </a> </td>
											    <td> <a href="../elements/10479.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
											    <td> <a href="../elements/10480.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10481.html" target="element"> PULL message </a> </td>
											    <td> <a href="../elements/10481.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10482.html" target="element"> PUBLISH message </a> </td>
											    <td> <a href="../elements/10482.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/10486.html" target="element">  </a> </td>
																		<td> <a href="../elements/10486.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10469.html" target="element"> ACKNOWLEDGE </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10487.html" target="element">  </a> </td>
																		<td> <a href="../elements/10487.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10470.html" target="element"> CANCEL </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10488.html" target="element">  </a> </td>
																		<td> <a href="../elements/10488.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10471.html" target="element"> CHANGE </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10484.html" target="element">  </a> </td>
																		<td> <a href="../elements/10484.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10472.html" target="element"> CONFIRM </a> </td>
																		<td> <a href="../elements/10481.html" target="element"> PULL message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10483.html" target="element">  </a> </td>
																		<td> <a href="../elements/10483.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10472.html" target="element"> CONFIRM </a> </td>
																		<td> <a href="../elements/10482.html" target="element"> PUBLISH message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10485.html" target="element">  </a> </td>
																		<td> <a href="../elements/10485.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10472.html" target="element"> CONFIRM </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10489.html" target="element">  </a> </td>
																		<td> <a href="../elements/10489.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10473.html" target="element"> GET </a> </td>
																		<td> <a href="../elements/10481.html" target="element"> PULL message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10562.html" target="element">  </a> </td>
																		<td> <a href="../elements/10562.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10474.html" target="element"> PROCESS </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10563.html" target="element">  </a> </td>
																		<td> <a href="../elements/10563.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10475.html" target="element"> RESPOND </a> </td>
																		<td> <a href="../elements/10480.html" target="element"> PUSH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10564.html" target="element">  </a> </td>
																		<td> <a href="../elements/10564.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10476.html" target="element"> SHOW </a> </td>
																		<td> <a href="../elements/10481.html" target="element"> PULL message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10567.html" target="element">  </a> </td>
																		<td> <a href="../elements/10567.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10477.html" target="element"> SYNC ADD </a> </td>
																		<td> <a href="../elements/10482.html" target="element"> PUBLISH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10566.html" target="element">  </a> </td>
																		<td> <a href="../elements/10566.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10478.html" target="element"> SYNC CHANGE </a> </td>
																		<td> <a href="../elements/10482.html" target="element"> PUBLISH message </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10565.html" target="element">  </a> </td>
																		<td> <a href="../elements/10565.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10479.html" target="element"> SYNC DELETE </a> </td>
																		<td> <a href="../elements/10482.html" target="element"> PUBLISH message </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>