<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Contracting_IT</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Contracting_IT</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-5"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_5" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11014.png" alt="Contracting_IT" usemap="#11014map"/>
			   <map name="11014map">
				  		<area shape="rect" coords="377,183,515,239" href="../elements/10689.html"  target="element">
				  		<area shape="rect" coords="357,303,567,378" href="../elements/10669.html"  target="element">
				  		<area shape="rect" coords="537,183,650,239" href="../elements/10690.html"  target="element">
				  		<area shape="rect" coords="157,183,343,239" href="../elements/10688.html"  target="element">
				  		<area shape="rect" coords="676,182,789,240" href="../elements/10691.html"  target="element">
				  		<area shape="rect" coords="10,41,110,94" href="../elements/11005.html"  target="element">
				  				<area shape="rect" coords="304,34,417,100" href="../elements/10835.html"  target="element">
				  				<area shape="rect" coords="570,34,676,100" href="../elements/10842.html"  target="element">
				  				<area shape="rect" coords="710,34,805,100" href="../elements/10845.html"  target="element">
				  				<area shape="rect" coords="458,34,537,100" href="../elements/10844.html"  target="element">
				  				<area shape="rect" coords="177,34,272,100" href="../elements/10843.html"  target="element">

				  		<area shape="rect" coords="144,10,819,125" href="../elements/10833.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10833.html" target="element"> Develop contract </a> </td>
											    <td> <a href="../elements/10833.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10843.html" target="element"> Register customer </a> </td>
													    <td> <a href="../elements/10843.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10844.html" target="element"> Define pricing policy </a> </td>
													    <td> <a href="../elements/10844.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10845.html" target="element"> Send to customer </a> </td>
													    <td> <a href="../elements/10845.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10842.html" target="element"> Accept proposal </a> </td>
													    <td> <a href="../elements/10842.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10835.html" target="element"> Evaluate credit risk </a> </td>
													    <td> <a href="../elements/10835.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/11005.html" target="element"> Inquiry </a> </td>
											    <td> <a href="../elements/11005.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10691.html" target="element"> Contract printing service </a> </td>
											    <td> <a href="../elements/10691.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10688.html" target="element"> Customer administration service </a> </td>
											    <td> <a href="../elements/10688.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10690.html" target="element"> Contract creating service </a> </td>
											    <td> <a href="../elements/10690.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
											    <td> <a href="../elements/10669.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10689.html" target="element"> Customer credit analysis service </a> </td>
											    <td> <a href="../elements/10689.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/10900.html" target="element">  </a> </td>
																				<td> <a href="../elements/10900.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10843.html" target="element"> Register customer </a> </td>
																				<td> <a href="../elements/10835.html" target="element"> Evaluate credit risk </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10910.html" target="element">  </a> </td>
																				<td> <a href="../elements/10910.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10844.html" target="element"> Define pricing policy </a> </td>
																				<td> <a href="../elements/10842.html" target="element"> Accept proposal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10911.html" target="element">  </a> </td>
																				<td> <a href="../elements/10911.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10842.html" target="element"> Accept proposal </a> </td>
																				<td> <a href="../elements/10845.html" target="element"> Send to customer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10909.html" target="element">  </a> </td>
																				<td> <a href="../elements/10909.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10835.html" target="element"> Evaluate credit risk </a> </td>
																				<td> <a href="../elements/10844.html" target="element"> Define pricing policy </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10897.html" target="element">  </a> </td>
																		<td> <a href="../elements/10897.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/11005.html" target="element"> Inquiry </a> </td>
																		<td> <a href="../elements/10833.html" target="element"> Develop contract </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10710.html" target="element">  </a> </td>
																		<td> <a href="../elements/10710.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10691.html" target="element"> Contract printing service </a> </td>
																		<td> <a href="../elements/10845.html" target="element"> Send to customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10709.html" target="element">  </a> </td>
																		<td> <a href="../elements/10709.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10688.html" target="element"> Customer administration service </a> </td>
																		<td> <a href="../elements/10844.html" target="element"> Define pricing policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10708.html" target="element">  </a> </td>
																		<td> <a href="../elements/10708.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10688.html" target="element"> Customer administration service </a> </td>
																		<td> <a href="../elements/10843.html" target="element"> Register customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10707.html" target="element">  </a> </td>
																		<td> <a href="../elements/10707.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10690.html" target="element"> Contract creating service </a> </td>
																		<td> <a href="../elements/10842.html" target="element"> Accept proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10703.html" target="element">  </a> </td>
																		<td> <a href="../elements/10703.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																		<td> <a href="../elements/10688.html" target="element"> Customer administration service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10702.html" target="element">  </a> </td>
																		<td> <a href="../elements/10702.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																		<td> <a href="../elements/10691.html" target="element"> Contract printing service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10706.html" target="element">  </a> </td>
																		<td> <a href="../elements/10706.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																		<td> <a href="../elements/10690.html" target="element"> Contract creating service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10705.html" target="element">  </a> </td>
																		<td> <a href="../elements/10705.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																		<td> <a href="../elements/10689.html" target="element"> Customer credit analysis service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10704.html" target="element">  </a> </td>
																		<td> <a href="../elements/10704.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10689.html" target="element"> Customer credit analysis service </a> </td>
																		<td> <a href="../elements/10835.html" target="element"> Evaluate credit risk </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>