<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Process DCorders_IT</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Process DCorders_IT</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11127.png" alt="Process DCorders_IT" usemap="#11127map"/>
			   <map name="11127map">
				  		<area shape="rect" coords="37,464,703,523" href="../elements/10685.html"  target="element">
				  		<area shape="rect" coords="290,250,450,309" href="../elements/10682.html"  target="element">
				  		<area shape="rect" coords="30,157,183,210" href="../elements/10698.html"  target="element">
				  		<area shape="rect" coords="57,357,157,407" href="../elements/10687.html"  target="element">
				  		<area shape="rect" coords="410,350,543,403" href="../elements/10686.html"  target="element">
				  		<area shape="rect" coords="217,350,323,406" href="../elements/10695.html"  target="element">
				  		<area shape="rect" coords="613,349,726,405" href="../elements/10701.html"  target="element">
				  		<area shape="rect" coords="500,164,623,210" href="../elements/10699.html"  target="element">
				  		<area shape="rect" coords="257,164,457,210" href="../elements/10700.html"  target="element">
				  				<area shape="rect" coords="623,36,709,102" href="../elements/10826.html"  target="element">
				  				<area shape="rect" coords="503,36,593,102" href="../elements/10830.html"  target="element">
				  				<area shape="rect" coords="250,36,350,102" href="../elements/10829.html"  target="element">
				  				<area shape="rect" coords="375,34,475,104" href="../elements/10827.html"  target="element">
				  				<area shape="rect" coords="16,36,102,102" href="../elements/10825.html"  target="element">
				  				<area shape="rect" coords="130,36,230,102" href="../elements/10828.html"  target="element">

				  		<area shape="rect" coords="10,10,730,123" href="../elements/10823.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10823.html" target="element"> Process DC order </a> </td>
											    <td> <a href="../elements/10823.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
													    <td> <a href="../elements/10828.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
													    <td> <a href="../elements/10825.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
													    <td> <a href="../elements/10827.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
													    <td> <a href="../elements/10829.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
													    <td> <a href="../elements/10830.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10826.html" target="element"> Inform DCs </a> </td>
													    <td> <a href="../elements/10826.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
											    <td> <a href="../elements/10700.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10699.html" target="element"> DC orders statuses service </a> </td>
											    <td> <a href="../elements/10699.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10701.html" target="element"> Production order creation service </a> </td>
											    <td> <a href="../elements/10701.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10695.html" target="element"> Shipping order creation service </a> </td>
											    <td> <a href="../elements/10695.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10686.html" target="element"> Product availability consultation </a> </td>
											    <td> <a href="../elements/10686.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10687.html" target="element"> Distributor information service </a> </td>
											    <td> <a href="../elements/10687.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10698.html" target="element"> DC orders registration service </a> </td>
											    <td> <a href="../elements/10698.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
											    <td> <a href="../elements/10682.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
											    <td> <a href="../elements/10685.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/10962.html" target="element">  </a> </td>
																				<td> <a href="../elements/10962.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10965.html" target="element">  </a> </td>
																				<td> <a href="../elements/10965.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10964.html" target="element">  </a> </td>
																				<td> <a href="../elements/10964.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10967.html" target="element">  </a> </td>
																				<td> <a href="../elements/10967.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																				<td> <a href="../elements/10826.html" target="element"> Inform DCs </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10733.html" target="element">  </a> </td>
																		<td> <a href="../elements/10733.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
																		<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10731.html" target="element">  </a> </td>
																		<td> <a href="../elements/10731.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
																		<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10732.html" target="element">  </a> </td>
																		<td> <a href="../elements/10732.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
																		<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10727.html" target="element">  </a> </td>
																		<td> <a href="../elements/10727.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
																		<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10724.html" target="element">  </a> </td>
																		<td> <a href="../elements/10724.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10699.html" target="element"> DC orders statuses service </a> </td>
																		<td> <a href="../elements/10826.html" target="element"> Inform DCs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10734.html" target="element">  </a> </td>
																		<td> <a href="../elements/10734.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10701.html" target="element"> Production order creation service </a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10730.html" target="element">  </a> </td>
																		<td> <a href="../elements/10730.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10695.html" target="element"> Shipping order creation service </a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10729.html" target="element">  </a> </td>
																		<td> <a href="../elements/10729.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10686.html" target="element"> Product availability consultation </a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10728.html" target="element">  </a> </td>
																		<td> <a href="../elements/10728.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10687.html" target="element"> Distributor information service </a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10723.html" target="element">  </a> </td>
																		<td> <a href="../elements/10723.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10698.html" target="element"> DC orders registration service </a> </td>
																		<td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10726.html" target="element">  </a> </td>
																		<td> <a href="../elements/10726.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																		<td> <a href="../elements/10699.html" target="element"> DC orders statuses service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10735.html" target="element">  </a> </td>
																		<td> <a href="../elements/10735.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																		<td> <a href="../elements/10700.html" target="element"> DC order administratoin service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10725.html" target="element">  </a> </td>
																		<td> <a href="../elements/10725.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																		<td> <a href="../elements/10698.html" target="element"> DC orders registration service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10718.html" target="element">  </a> </td>
																		<td> <a href="../elements/10718.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10695.html" target="element"> Shipping order creation service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10761.html" target="element">  </a> </td>
																		<td> <a href="../elements/10761.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10687.html" target="element"> Distributor information service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10759.html" target="element">  </a> </td>
																		<td> <a href="../elements/10759.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10701.html" target="element"> Production order creation service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10760.html" target="element">  </a> </td>
																		<td> <a href="../elements/10760.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10686.html" target="element"> Product availability consultation </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>