<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application architecture</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application architecture</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11168.png" alt="Application architecture" usemap="#11168map"/>
			   <map name="11168map">
				  		<area shape="rect" coords="34,180,1007,239" href="../elements/10685.html"  target="element">
				  				<area shape="rect" coords="606,456,739,536" href="../elements/10683.html"  target="element">

				          <area shape="rect" coords="575,430,815,563" href="../objects/11196.html" target="element" >
				  				<area shape="rect" coords="190,489,323,542" href="../elements/10684.html"  target="element">
				  						<area shape="rect" coords="259,395,398,454" href="../elements/10679.html"  target="element">
				  						<area shape="rect" coords="93,309,232,368" href="../elements/10678.html"  target="element">
				  						<area shape="rect" coords="93,395,232,454" href="../elements/10677.html"  target="element">
				  						<area shape="rect" coords="259,309,398,368" href="../elements/10676.html"  target="element">

				  				<area shape="rect" coords="83,286,409,465" href="../elements/10674.html"  target="element">
				  				<area shape="rect" coords="410,56,543,122" href="../elements/10682.html"  target="element">
				  				<area shape="rect" coords="56,56,172,122" href="../elements/10680.html"  target="element">
				  				<area shape="rect" coords="423,369,539,435" href="../elements/10672.html"  target="element">
				  				<area shape="rect" coords="230,56,356,122" href="../elements/10673.html"  target="element">

				          <area shape="rect" coords="10,10,550,563" href="../objects/11170.html" target="element" >
				  				<area shape="rect" coords="623,56,749,122" href="../elements/10670.html"  target="element">
				  				<area shape="rect" coords="643,296,756,362" href="../elements/10672.html"  target="element">
				  				<area shape="rect" coords="770,296,886,362" href="../elements/10681.html"  target="element">
				  				<area shape="rect" coords="900,296,1016,362" href="../elements/10671.html"  target="element">
				  				<area shape="rect" coords="777,56,910,122" href="../elements/10669.html"  target="element">

				          <area shape="rect" coords="577,17,1030,403" href="../objects/11199.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/11199.html" target="element"> Distribution center </a> </td>
									           <td> <a href="../objects/11199.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
													    <td> <a href="../elements/10669.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
													    <td> <a href="../elements/10671.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
													    <td> <a href="../elements/10681.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
													    <td> <a href="../elements/10672.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10670.html" target="element"> Order management application </a> </td>
													    <td> <a href="../elements/10670.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/11170.html" target="element"> Production center </a> </td>
									           <td> <a href="../objects/11170.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
													    <td> <a href="../elements/10673.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
													    <td> <a href="../elements/10672.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
													    <td> <a href="../elements/10680.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
													    <td> <a href="../elements/10682.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
													    <td> <a href="../elements/10674.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/10676.html" target="element"> Materials management </a> </td>
															    <td> <a href="../elements/10676.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10677.html" target="element"> Production planning </a> </td>
															    <td> <a href="../elements/10677.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10678.html" target="element"> Inventory </a> </td>
															    <td> <a href="../elements/10678.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10679.html" target="element"> Financial </a> </td>
															    <td> <a href="../elements/10679.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
													    <td> <a href="../elements/10684.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/11196.html" target="element"> HQ </a> </td>
									           <td> <a href="../objects/11196.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
													    <td> <a href="../elements/10683.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
											    <td> <a href="../elements/10685.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/10746.html" target="element">  </a> </td>
																				<td> <a href="../elements/10746.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10747.html" target="element">  </a> </td>
																				<td> <a href="../elements/10747.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10748.html" target="element">  </a> </td>
																				<td> <a href="../elements/10748.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10744.html" target="element">  </a> </td>
																				<td> <a href="../elements/10744.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10670.html" target="element"> Order management application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/10739.html" target="element">  </a> </td>
																				<td> <a href="../elements/10739.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10738.html" target="element">  </a> </td>
																				<td> <a href="../elements/10738.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10755.html" target="element">  </a> </td>
																				<td> <a href="../elements/10755.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10740.html" target="element">  </a> </td>
																				<td> <a href="../elements/10740.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10756.html" target="element">  </a> </td>
																				<td> <a href="../elements/10756.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																				<td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10754.html" target="element">  </a> </td>
																				<td> <a href="../elements/10754.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/10757.html" target="element">  </a> </td>
																				<td> <a href="../elements/10757.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
																				<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/10751.html" target="element">  </a> </td>
																				<td> <a href="../elements/10751.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10743.html" target="element">  </a> </td>
																		<td> <a href="../elements/10743.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10670.html" target="element"> Order management application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10745.html" target="element">  </a> </td>
																		<td> <a href="../elements/10745.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10669.html" target="element"> Customer data management application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10742.html" target="element">  </a> </td>
																		<td> <a href="../elements/10742.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10682.html" target="element"> DC order management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10752.html" target="element">  </a> </td>
																		<td> <a href="../elements/10752.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10750.html" target="element">  </a> </td>
																		<td> <a href="../elements/10750.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10753.html" target="element">  </a> </td>
																		<td> <a href="../elements/10753.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10737.html" target="element">  </a> </td>
																		<td> <a href="../elements/10737.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10736.html" target="element">  </a> </td>
																		<td> <a href="../elements/10736.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10749.html" target="element">  </a> </td>
																		<td> <a href="../elements/10749.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10741.html" target="element">  </a> </td>
																		<td> <a href="../elements/10741.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>