<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Process DC orders</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Process DC orders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11349.png" alt="Process DC orders" usemap="#11349map"/>
			   <map name="11349map">
				  		<area shape="rect" coords="490,323,629,382" href="../elements/10801.html"  target="element">
				  		<area shape="rect" coords="203,305,342,364" href="../elements/10808.html"  target="element">
				  		<area shape="rect" coords="367,243,506,302" href="../elements/10807.html"  target="element">
				  		<area shape="rect" coords="110,197,210,250" href="../elements/10806.html"  target="element">
				  		<area shape="rect" coords="10,308,110,361" href="../elements/10805.html"  target="element">
				  		<area shape="rect" coords="777,47,877,113" href="../elements/11000.html"  target="element">
				  		<area shape="rect" coords="657,290,757,346" href="../elements/11003.html"  target="element">
				  		<area shape="rect" coords="657,197,757,250" href="../elements/10804.html"  target="element">
				  				<area shape="rect" coords="536,43,622,109" href="../elements/10830.html"  target="element">
				  				<area shape="rect" coords="643,43,733,109" href="../elements/10826.html"  target="element">
				  				<area shape="rect" coords="283,43,383,111" href="../elements/10829.html"  target="element">
				  				<area shape="rect" coords="410,43,506,109" href="../elements/10827.html"  target="element">
				  				<area shape="rect" coords="36,43,122,109" href="../elements/10825.html"  target="element">
				  				<area shape="rect" coords="156,43,256,109" href="../elements/10828.html"  target="element">

				  		<area shape="rect" coords="10,10,740,150" href="../elements/10823.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10823.html" target="element"> Process DC order </a> </td>
											    <td> <a href="../elements/10823.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
													    <td> <a href="../elements/10828.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
													    <td> <a href="../elements/10825.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
													    <td> <a href="../elements/10827.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
													    <td> <a href="../elements/10829.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10826.html" target="element"> Inform DCs </a> </td>
													    <td> <a href="../elements/10826.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
													    <td> <a href="../elements/10830.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10804.html" target="element"> Bulk order data </a> </td>
											    <td> <a href="../elements/10804.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11003.html" target="element"> EDI </a> </td>
											    <td> <a href="../elements/11003.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11000.html" target="element"> PC </a> </td>
											    <td> <a href="../elements/11000.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10805.html" target="element"> Distributor data </a> </td>
											    <td> <a href="../elements/10805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10806.html" target="element"> Inventory data </a> </td>
											    <td> <a href="../elements/10806.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10807.html" target="element"> DC order data </a> </td>
											    <td> <a href="../elements/10807.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10808.html" target="element"> Production order data </a> </td>
											    <td> <a href="../elements/10808.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10801.html" target="element"> Shipping order data </a> </td>
											    <td> <a href="../elements/10801.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/10955.html" target="element">  </a> </td>
																				<td> <a href="../elements/10955.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																				<td> <a href="../elements/10807.html" target="element"> DC order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10961.html" target="element">  </a> </td>
																				<td> <a href="../elements/10961.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																				<td> <a href="../elements/10806.html" target="element"> Inventory data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10960.html" target="element">  </a> </td>
																				<td> <a href="../elements/10960.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
																				<td> <a href="../elements/10804.html" target="element"> Bulk order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10962.html" target="element">  </a> </td>
																				<td> <a href="../elements/10962.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10959.html" target="element">  </a> </td>
																				<td> <a href="../elements/10959.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10825.html" target="element"> Register DC order </a> </td>
																				<td> <a href="../elements/10805.html" target="element"> Distributor data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10957.html" target="element">  </a> </td>
																				<td> <a href="../elements/10957.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/10801.html" target="element"> Shipping order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10965.html" target="element">  </a> </td>
																				<td> <a href="../elements/10965.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10958.html" target="element">  </a> </td>
																				<td> <a href="../elements/10958.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/10808.html" target="element"> Production order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10964.html" target="element">  </a> </td>
																				<td> <a href="../elements/10964.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10966.html" target="element">  </a> </td>
																				<td> <a href="../elements/10966.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																				<td> <a href="../elements/10807.html" target="element"> DC order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10967.html" target="element">  </a> </td>
																				<td> <a href="../elements/10967.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10830.html" target="element"> Update DC order </a> </td>
																				<td> <a href="../elements/10826.html" target="element"> Inform DCs </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10938.html" target="element">  </a> </td>
																		<td> <a href="../elements/10938.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/11003.html" target="element"> EDI </a> </td>
																		<td> <a href="../elements/10804.html" target="element"> Bulk order data </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>