<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business functions</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business functions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-6"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_6" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11408.png" alt="Business functions" usemap="#11408map"/>
			   <map name="11408map">
				  				<area shape="rect" coords="507,20,680,73" href="../elements/10789.html"  target="element">

				  		<area shape="rect" coords="17,10,750,83" href="../elements/10778.html"  target="element">
				  		<area shape="rect" coords="844,157,964,723" href="../elements/13806.html"  target="element">
				  				<area shape="rect" coords="457,530,570,583" href="../elements/10793.html"  target="element">
				  				<area shape="rect" coords="564,650,710,703" href="../elements/10792.html"  target="element">
				  				<area shape="rect" coords="451,350,737,430" href="../elements/10791.html"  target="element">
				  				<area shape="rect" coords="447,197,700,250" href="../elements/10790.html"  target="element">

				  		<area shape="rect" coords="431,157,757,723" href="../elements/10773.html"  target="element">
				  				<area shape="rect" coords="246,583,359,643" href="../elements/10788.html"  target="element">
				  				<area shape="rect" coords="246,477,367,540" href="../elements/10786.html"  target="element">
				  				<area shape="rect" coords="30,477,151,538" href="../elements/10785.html"  target="element">
				  				<area shape="rect" coords="30,230,363,293" href="../elements/10784.html"  target="element">

				  		<area shape="rect" coords="17,157,390,723" href="../elements/10766.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10766.html" target="element"> Production center </a> </td>
											    <td> <a href="../elements/10766.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
													    <td> <a href="../elements/10784.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
													    <td> <a href="../elements/10785.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10786.html" target="element"> Production </a> </td>
													    <td> <a href="../elements/10786.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10788.html" target="element"> Procurement </a> </td>
													    <td> <a href="../elements/10788.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10773.html" target="element"> DC Benelux </a> </td>
											    <td> <a href="../elements/10773.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
													    <td> <a href="../elements/10790.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
													    <td> <a href="../elements/10791.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
													    <td> <a href="../elements/10792.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10793.html" target="element"> DCFinance </a> </td>
													    <td> <a href="../elements/10793.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/13806.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10778.html" target="element"> HQ </a> </td>
											    <td> <a href="../elements/10778.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
													    <td> <a href="../elements/10789.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/10886.html" target="element"> Production order </a> </td>
																				<td> <a href="../elements/10886.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10867.html" target="element"> Aggregate order info </a> </td>
																				<td> <a href="../elements/10867.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10885.html" target="element"> Shipping order </a> </td>
																				<td> <a href="../elements/10885.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10887.html" target="element"> GDN </a> </td>
																				<td> <a href="../elements/10887.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10883.html" target="element"> Final products </a> </td>
																				<td> <a href="../elements/10883.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10869.html" target="element"> Raw materials </a> </td>
																				<td> <a href="../elements/10869.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10788.html" target="element"> Procurement </a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/10870.html" target="element"> Cust.credit analysis requirement </a> </td>
																				<td> <a href="../elements/10870.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10875.html" target="element"> Order assessment </a> </td>
																				<td> <a href="../elements/10875.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10874.html" target="element"> Contract </a> </td>
																				<td> <a href="../elements/10874.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10877.html" target="element"> Offer </a> </td>
																				<td> <a href="../elements/10877.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10866.html" target="element"> Cust. exposure req </a> </td>
																				<td> <a href="../elements/10866.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10876.html" target="element"> Invoice </a> </td>
																				<td> <a href="../elements/10876.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10793.html" target="element"> DCFinance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10879.html" target="element"> Order info </a> </td>
																				<td> <a href="../elements/10879.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10868.html" target="element"> Aggregate order </a> </td>
																				<td> <a href="../elements/10868.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10871.html" target="element"> Shipping order </a> </td>
																				<td> <a href="../elements/10871.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10880.html" target="element"> Invoice </a> </td>
																				<td> <a href="../elements/10880.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10865.html" target="element"> Delivery notification </a> </td>
																				<td> <a href="../elements/10865.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																				<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10872.html" target="element"> GDN </a> </td>
																				<td> <a href="../elements/10872.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10878.html" target="element"> Order </a> </td>
																		<td> <a href="../elements/10878.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10873.html" target="element"> Inquiry </a> </td>
																		<td> <a href="../elements/10873.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10864.html" target="element"> Delivery confirmation </a> </td>
																		<td> <a href="../elements/10864.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/10863.html" target="element"> Cust credit assessment </a> </td>
																				<td> <a href="../elements/10863.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>