<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vision</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vision</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/11455.png" alt="Vision" usemap="#11455map"/>
			   <map name="11455map">
				          <area shape="rect" coords="303,10,676,50" href="../objects/13797.html" target="element" >
				  		<area shape="rect" coords="577,423,710,509" href="../elements/13816.html"  target="element">
				  		<area shape="rect" coords="257,423,377,503" href="../elements/13815.html"  target="element">
				  				<area shape="rect" coords="580,210,713,263" href="../elements/10784.html"  target="element">
				  				<area shape="rect" coords="253,210,386,263" href="../elements/13875.html"  target="element">
				  				<area shape="rect" coords="580,296,713,349" href="../elements/10785.html"  target="element">
				  				<area shape="rect" coords="413,210,546,263" href="../elements/10789.html"  target="element">
				  				<area shape="rect" coords="253,296,386,349" href="../elements/13874.html"  target="element">
				  				<area shape="rect" coords="416,296,549,349" href="../elements/13873.html"  target="element">

				  		<area shape="rect" coords="230,170,733,376" href="../elements/14148.html"  target="element">
				  		<area shape="rect" coords="211,926,753,979" href="../elements/14288.html"  target="element">
				  		<area shape="rect" coords="397,83,570,136" href="../elements/14248.html"  target="element">
				  				<area shape="rect" coords="234,832,367,885" href="../elements/14177.html"  target="element">
				  				<area shape="rect" coords="594,832,727,885" href="../elements/10674.html"  target="element">
				  				<area shape="rect" coords="414,832,547,885" href="../elements/14162.html"  target="element">

				  		<area shape="rect" coords="214,806,754,899" href="../elements/14236.html"  target="element">
				  				<area shape="rect" coords="364,629,471,693" href="../elements/14185.html"  target="element">
				  				<area shape="rect" coords="597,703,706,756" href="../elements/14184.html"  target="element">
				  				<area shape="rect" coords="357,703,437,756" href="../elements/14183.html"  target="element">
				  				<area shape="rect" coords="470,703,574,756" href="../elements/14182.html"  target="element">
				  				<area shape="rect" coords="250,703,346,756" href="../elements/14181.html"  target="element">
				  				<area shape="rect" coords="603,629,700,682" href="../elements/14180.html"  target="element">
				  				<area shape="rect" coords="482,629,598,682" href="../elements/14179.html"  target="element">
				  				<area shape="rect" coords="250,629,357,682" href="../elements/14178.html"  target="element">

				  		<area shape="rect" coords="225,603,738,783" href="../elements/14223.html"  target="element">
				  				<area shape="rect" coords="34,443,149,496" href="../elements/14277.html"  target="element">
				  				<area shape="rect" coords="34,372,149,425" href="../elements/13900.html"  target="element">
				  				<area shape="rect" coords="34,301,149,354" href="../elements/13899.html"  target="element">
				  				<area shape="rect" coords="34,230,149,283" href="../elements/13898.html"  target="element">

				  		<area shape="rect" coords="10,170,173,536" href="../elements/14074.html"  target="element">
				  				<area shape="rect" coords="780,499,913,552" href="../elements/14072.html"  target="element">
				  				<area shape="rect" coords="780,566,913,619" href="../elements/6562.html"  target="element">
				  				<area shape="rect" coords="780,231,913,284" href="../elements/14054.html"  target="element">
				  				<area shape="rect" coords="780,365,913,418" href="../elements/14053.html"  target="element">
				  				<area shape="rect" coords="780,298,913,351" href="../elements/14052.html"  target="element">
				  				<area shape="rect" coords="780,432,913,485" href="../elements/14026.html"  target="element">

				  		<area shape="rect" coords="763,170,926,648" href="../elements/14025.html"  target="element">
				  		<area shape="rect" coords="645,70,778,150" href="../elements/13806.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/13806.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14025.html" target="element"> Customer Information </a> </td>
											    <td> <a href="../elements/14025.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/14026.html" target="element"> Interaction history </a> </td>
													    <td> <a href="../elements/14026.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14052.html" target="element"> Transaction History </a> </td>
													    <td> <a href="../elements/14052.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14053.html" target="element"> Credit profile </a> </td>
													    <td> <a href="../elements/14053.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14054.html" target="element"> Profile </a> </td>
													    <td> <a href="../elements/14054.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
													    <td> <a href="../elements/6562.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14072.html" target="element"> Contract </a> </td>
													    <td> <a href="../elements/14072.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14074.html" target="element"> Sales Pipeline </a> </td>
											    <td> <a href="../elements/14074.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/13898.html" target="element"> Contact </a> </td>
													    <td> <a href="../elements/13898.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13899.html" target="element"> Lead </a> </td>
													    <td> <a href="../elements/13899.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13900.html" target="element"> Opportunity </a> </td>
													    <td> <a href="../elements/13900.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14277.html" target="element"> Deal </a> </td>
													    <td> <a href="../elements/14277.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14223.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/14223.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/14178.html" target="element"> Customer data mgmt </a> </td>
													    <td> <a href="../elements/14178.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14179.html" target="element"> Social interaction </a> </td>
													    <td> <a href="../elements/14179.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14180.html" target="element"> Order status mgt </a> </td>
													    <td> <a href="../elements/14180.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14181.html" target="element"> Quoting </a> </td>
													    <td> <a href="../elements/14181.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14182.html" target="element"> Analytics </a> </td>
													    <td> <a href="../elements/14182.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14183.html" target="element"> Query </a> </td>
													    <td> <a href="../elements/14183.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14184.html" target="element"> Reporting </a> </td>
													    <td> <a href="../elements/14184.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14185.html" target="element"> Sales pipeline mgmt </a> </td>
													    <td> <a href="../elements/14185.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14236.html" target="element"> Integrated customer-centric solution </a> </td>
											    <td> <a href="../elements/14236.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
													    <td> <a href="../elements/14162.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
													    <td> <a href="../elements/10674.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14177.html" target="element"> BI toolset </a> </td>
													    <td> <a href="../elements/14177.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14248.html" target="element"> Metal Products and Services </a> </td>
											    <td> <a href="../elements/14248.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14288.html" target="element"> CRM database </a> </td>
											    <td> <a href="../elements/14288.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14148.html" target="element"> ArchiMetal operations </a> </td>
											    <td> <a href="../elements/14148.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/13873.html" target="element"> Service </a> </td>
													    <td> <a href="../elements/13873.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13874.html" target="element"> Production </a> </td>
													    <td> <a href="../elements/13874.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
													    <td> <a href="../elements/10789.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
													    <td> <a href="../elements/10785.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13875.html" target="element"> Marketing </a> </td>
													    <td> <a href="../elements/13875.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
													    <td> <a href="../elements/10784.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/13815.html" target="element"> Supply partner </a> </td>
											    <td> <a href="../elements/13815.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13816.html" target="element"> Transportation partner </a> </td>
											    <td> <a href="../elements/13816.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/13797.html" target="element">  </a> </td>
									           <td> <a href="../objects/13797.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
											
																	<tr>
																		<td> <a href="../elements/14232.html" target="element">  </a> </td>
																		<td> <a href="../elements/14232.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/14223.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/14148.html" target="element"> ArchiMetal operations </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/5a742dc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a742dc8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/14236.html" target="element"> Integrated customer-centric solution </a> </td>
																		<td> <a href="../elements/14223.html" target="element"> CRM </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/14293.html" target="element">  </a> </td>
																				<td> <a href="../elements/14293.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
																				<td> <a href="../elements/14288.html" target="element"> CRM database </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14224.html" target="element">  </a> </td>
																				<td> <a href="../elements/14224.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
																				<td> <a href="../elements/14177.html" target="element"> BI toolset </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14164.html" target="element">  </a> </td>
																				<td> <a href="../elements/14164.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
																				<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/14251.html" target="element">  </a> </td>
																		<td> <a href="../elements/14251.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/14248.html" target="element"> Metal Products and Services </a> </td>
																		<td> <a href="../elements/13806.html" target="element"> Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14310.html" target="element">  </a> </td>
																		<td> <a href="../elements/14310.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14288.html" target="element"> CRM database </a> </td>
																		<td> <a href="../elements/14025.html" target="element"> Customer Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14311.html" target="element">  </a> </td>
																		<td> <a href="../elements/14311.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14288.html" target="element"> CRM database </a> </td>
																		<td> <a href="../elements/14074.html" target="element"> Sales Pipeline </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14300.html" target="element">  </a> </td>
																		<td> <a href="../elements/14300.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/14148.html" target="element"> ArchiMetal operations </a> </td>
																		<td> <a href="../elements/14074.html" target="element"> Sales Pipeline </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14250.html" target="element">  </a> </td>
																		<td> <a href="../elements/14250.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14148.html" target="element"> ArchiMetal operations </a> </td>
																		<td> <a href="../elements/14248.html" target="element"> Metal Products and Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14294.html" target="element">  </a> </td>
																		<td> <a href="../elements/14294.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/14148.html" target="element"> ArchiMetal operations </a> </td>
																		<td> <a href="../elements/14025.html" target="element"> Customer Information </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/14343.html" target="element">  </a> </td>
																				<td> <a href="../elements/14343.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/13874.html" target="element"> Production </a> </td>
																				<td> <a href="../elements/13815.html" target="element"> Supply partner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14342.html" target="element">  </a> </td>
																				<td> <a href="../elements/14342.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																				<td> <a href="../elements/13816.html" target="element"> Transportation partner </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>