<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generic ArchiMate example</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generic ArchiMate example</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/13265.png" alt="Generic ArchiMate example" usemap="#13265map"/>
			   <map name="13265map">
				  		<area shape="rect" coords="317,140,450,193" href="../elements/13291.html"  target="element">
				  		<area shape="rect" coords="290,520,476,580" href="../elements/13295.html"  target="element">
				  		<area shape="rect" coords="570,20,703,73" href="../elements/13298.html"  target="element">
				  		<area shape="rect" coords="317,20,450,73" href="../elements/13292.html"  target="element">
				  		<area shape="rect" coords="570,266,703,319" href="../elements/13297.html"  target="element">
				  		<area shape="rect" coords="290,393,476,466" href="../elements/13261.html"  target="element">
				  		<area shape="rect" coords="310,260,456,326" href="../elements/13262.html"  target="element">
				  		<area shape="rect" coords="10,260,216,333" href="../elements/13264.html"  target="element">
				  		<area shape="rect" coords="10,10,216,83" href="../elements/13263.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/13263.html" target="element"> Business Transformation Project </a> </td>
											    <td> <a href="../elements/13263.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13264.html" target="element"> IT Development Project </a> </td>
											    <td> <a href="../elements/13264.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13262.html" target="element"> Application service </a> </td>
											    <td> <a href="../elements/13262.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13261.html" target="element"> Application component </a> </td>
											    <td> <a href="../elements/13261.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13297.html" target="element"> IT Goal </a> </td>
											    <td> <a href="../elements/13297.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13292.html" target="element"> Business service </a> </td>
											    <td> <a href="../elements/13292.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13298.html" target="element"> Business Goal </a> </td>
											    <td> <a href="../elements/13298.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13295.html" target="element"> Server </a> </td>
											    <td> <a href="../elements/13295.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13291.html" target="element"> Business process </a> </td>
											    <td> <a href="../elements/13291.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/13300.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13300.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13263.html" target="element"> Business Transformation Project </a> </td>
																		<td> <a href="../elements/13292.html" target="element"> Business service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13299.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13299.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13264.html" target="element"> IT Development Project </a> </td>
																		<td> <a href="../elements/13262.html" target="element"> Application service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13289.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13289.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13262.html" target="element"> Application service </a> </td>
																		<td> <a href="../elements/13297.html" target="element"> IT Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13290.html" target="element"> Used by </a> </td>
																		<td> <a href="../elements/13290.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/13262.html" target="element"> Application service </a> </td>
																		<td> <a href="../elements/13291.html" target="element"> Business process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13288.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13288.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13261.html" target="element"> Application component </a> </td>
																		<td> <a href="../elements/13262.html" target="element"> Application service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13294.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13294.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13292.html" target="element"> Business service </a> </td>
																		<td> <a href="../elements/13298.html" target="element"> Business Goal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13296.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13296.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13295.html" target="element"> Server </a> </td>
																		<td> <a href="../elements/13261.html" target="element"> Application component </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13293.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/13293.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/13291.html" target="element"> Business process </a> </td>
																		<td> <a href="../elements/13292.html" target="element"> Business service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>