<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CRM implementation and migration</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>CRM implementation and migration</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14385.png" alt="CRM implementation and migration" usemap="#14385map"/>
			   <map name="14385map">
				  		<area shape="rect" coords="1023,223,1162,282" href="../elements/16331.html"  target="element">
				  		<area shape="rect" coords="803,223,942,282" href="../elements/16330.html"  target="element">
				  		<area shape="rect" coords="276,223,415,282" href="../elements/16329.html"  target="element">
				  		<area shape="rect" coords="337,450,1070,503" href="../elements/16323.html"  target="element">
				  		<area shape="rect" coords="143,126,269,179" href="../elements/8660.html"  target="element">
				  		<area shape="rect" coords="437,126,563,179" href="../elements/14543.html"  target="element">
				  		<area shape="rect" coords="283,126,409,179" href="../elements/12926.html"  target="element">
				  		<area shape="rect" coords="590,223,729,282" href="../elements/8542.html"  target="element">
				  		<area shape="rect" coords="743,126,869,179" href="../elements/12927.html"  target="element">
				  		<area shape="rect" coords="877,126,1017,179" href="../elements/10859.html"  target="element">
				  		<area shape="rect" coords="1030,126,1156,179" href="../elements/14484.html"  target="element">
				  		<area shape="rect" coords="597,126,723,179" href="../elements/8618.html"  target="element">
				  		<area shape="rect" coords="823,10,1056,63" href="../elements/14441.html"  target="element">
				  		<area shape="rect" coords="330,10,563,63" href="../elements/14440.html"  target="element">
				  		<area shape="rect" coords="10,10,176,63" href="../elements/14439.html"  target="element">
				  		<area shape="rect" coords="330,337,563,390" href="../elements/14396.html"  target="element">
				  		<area shape="rect" coords="823,337,1056,390" href="../elements/14390.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/14390.html" target="element"> Customer order monitoring project </a> </td>
											    <td> <a href="../elements/14390.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14396.html" target="element"> CRM project </a> </td>
											    <td> <a href="../elements/14396.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14439.html" target="element"> Current state </a> </td>
											    <td> <a href="../elements/14439.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
											    <td> <a href="../elements/14440.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14441.html" target="element"> Target state </a> </td>
											    <td> <a href="../elements/14441.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
											    <td> <a href="../elements/8618.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
											    <td> <a href="../elements/14484.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10859.html" target="element"> Order information service </a> </td>
											    <td> <a href="../elements/10859.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
											    <td> <a href="../elements/12927.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8542.html" target="element"> Deployed CRM application </a> </td>
											    <td> <a href="../elements/8542.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12926.html" target="element"> Approve customer data </a> </td>
											    <td> <a href="../elements/12926.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14543.html" target="element"> Customer approval service </a> </td>
											    <td> <a href="../elements/14543.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
											    <td> <a href="../elements/8660.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16323.html" target="element"> CRM transformation program </a> </td>
											    <td> <a href="../elements/16323.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16329.html" target="element"> Redesigned business processes </a> </td>
											    <td> <a href="../elements/16329.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16330.html" target="element"> Redesigned business processes </a> </td>
											    <td> <a href="../elements/16330.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16331.html" target="element"> Deployed Customer order monitoring application </a> </td>
											    <td> <a href="../elements/16331.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/16334.html" target="element">  </a> </td>
																		<td> <a href="../elements/16334.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14390.html" target="element"> Customer order monitoring project </a> </td>
																		<td> <a href="../elements/16330.html" target="element"> Redesigned business processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16335.html" target="element">  </a> </td>
																		<td> <a href="../elements/16335.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14390.html" target="element"> Customer order monitoring project </a> </td>
																		<td> <a href="../elements/16331.html" target="element"> Deployed Customer order monitoring application </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16359.html" target="element">  </a> </td>
																		<td> <a href="../elements/16359.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14396.html" target="element"> CRM project </a> </td>
																		<td> <a href="../elements/16329.html" target="element"> Redesigned business processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16360.html" target="element">  </a> </td>
																		<td> <a href="../elements/16360.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14396.html" target="element"> CRM project </a> </td>
																		<td> <a href="../elements/8542.html" target="element"> Deployed CRM application </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16155.html" target="element">  </a> </td>
																		<td> <a href="../elements/16155.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14439.html" target="element"> Current state </a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16271.html" target="element">  </a> </td>
																		<td> <a href="../elements/16271.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16273.html" target="element">  </a> </td>
																		<td> <a href="../elements/16273.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																		<td> <a href="../elements/12926.html" target="element"> Approve customer data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16293.html" target="element">  </a> </td>
																		<td> <a href="../elements/16293.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																		<td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16158.html" target="element">  </a> </td>
																		<td> <a href="../elements/16158.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																		<td> <a href="../elements/14441.html" target="element"> Target state </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16274.html" target="element">  </a> </td>
																		<td> <a href="../elements/16274.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14440.html" target="element"> Transition state </a> </td>
																		<td> <a href="../elements/14543.html" target="element"> Customer approval service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16272.html" target="element">  </a> </td>
																		<td> <a href="../elements/16272.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14441.html" target="element"> Target state </a> </td>
																		<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16276.html" target="element">  </a> </td>
																		<td> <a href="../elements/16276.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14441.html" target="element"> Target state </a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16275.html" target="element">  </a> </td>
																		<td> <a href="../elements/16275.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14441.html" target="element"> Target state </a> </td>
																		<td> <a href="../elements/10859.html" target="element"> Order information service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8625.html" target="element">  </a> </td>
																		<td> <a href="../elements/8625.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8542.html" target="element"> Deployed CRM application </a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16333.html" target="element">  </a> </td>
																		<td> <a href="../elements/16333.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16323.html" target="element"> CRM transformation program </a> </td>
																		<td> <a href="../elements/14390.html" target="element"> Customer order monitoring project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16332.html" target="element">  </a> </td>
																		<td> <a href="../elements/16332.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16323.html" target="element"> CRM transformation program </a> </td>
																		<td> <a href="../elements/14396.html" target="element"> CRM project </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16363.html" target="element">  </a> </td>
																		<td> <a href="../elements/16363.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16329.html" target="element"> Redesigned business processes </a> </td>
																		<td> <a href="../elements/14543.html" target="element"> Customer approval service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16361.html" target="element">  </a> </td>
																		<td> <a href="../elements/16361.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16329.html" target="element"> Redesigned business processes </a> </td>
																		<td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16362.html" target="element">  </a> </td>
																		<td> <a href="../elements/16362.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16329.html" target="element"> Redesigned business processes </a> </td>
																		<td> <a href="../elements/12926.html" target="element"> Approve customer data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16374.html" target="element">  </a> </td>
																		<td> <a href="../elements/16374.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16330.html" target="element"> Redesigned business processes </a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16375.html" target="element">  </a> </td>
																		<td> <a href="../elements/16375.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16330.html" target="element"> Redesigned business processes </a> </td>
																		<td> <a href="../elements/10859.html" target="element"> Order information service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16336.html" target="element">  </a> </td>
																		<td> <a href="../elements/16336.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/16331.html" target="element"> Deployed Customer order monitoring application </a> </td>
																		<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>