<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business functions_new</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business functions_new</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-6"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_6" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14587.png" alt="Business functions_new" usemap="#14587map"/>
			   <map name="14587map">
				  		<area shape="rect" coords="813,544,956,624" href="../elements/10999.html"  target="element">
				  		<area shape="rect" coords="813,177,953,527" href="../elements/10998.html"  target="element">
				  				<area shape="rect" coords="432,557,571,616" href="../elements/10793.html"  target="element">
				  				<area shape="rect" coords="553,447,692,506" href="../elements/10792.html"  target="element">
				  				<area shape="rect" coords="439,317,692,376" href="../elements/10791.html"  target="element">
				  				<area shape="rect" coords="439,197,692,256" href="../elements/10790.html"  target="element">

				  		<area shape="rect" coords="406,177,716,623" href="../elements/14537.html"  target="element">
				  				<area shape="rect" coords="519,38,658,97" href="../elements/10789.html"  target="element">
				  				<area shape="rect" coords="212,38,405,97" href="../elements/14538.html"  target="element">

				  		<area shape="rect" coords="19,10,719,116" href="../elements/10995.html"  target="element">
				  				<area shape="rect" coords="211,380,332,443" href="../elements/10786.html"  target="element">
				  				<area shape="rect" coords="31,381,152,442" href="../elements/10785.html"  target="element">
				  				<area shape="rect" coords="43,213,332,286" href="../elements/10784.html"  target="element">
				  				<area shape="rect" coords="211,501,332,561" href="../elements/10788.html"  target="element">

				  		<area shape="rect" coords="19,177,352,621" href="../elements/10997.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10997.html" target="element"> Production center </a> </td>
											    <td> <a href="../elements/10997.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10788.html" target="element"> Procurement </a> </td>
													    <td> <a href="../elements/10788.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
													    <td> <a href="../elements/10784.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
													    <td> <a href="../elements/10785.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10786.html" target="element"> Production </a> </td>
													    <td> <a href="../elements/10786.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10995.html" target="element"> HQ </a> </td>
											    <td> <a href="../elements/10995.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/14538.html" target="element"> Customer relationship management </a> </td>
													    <td> <a href="../elements/14538.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
													    <td> <a href="../elements/10789.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14537.html" target="element"> Distribution center </a> </td>
											    <td> <a href="../elements/14537.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
													    <td> <a href="../elements/10790.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
													    <td> <a href="../elements/10791.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
													    <td> <a href="../elements/10792.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10793.html" target="element"> DCFinance </a> </td>
													    <td> <a href="../elements/10793.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/10998.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10999.html" target="element"> Bank </a> </td>
											    <td> <a href="../elements/10999.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/14551.html" target="element"> Raw materials </a> </td>
																				<td> <a href="../elements/14551.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10788.html" target="element"> Procurement </a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14569.html" target="element"> Production order </a> </td>
																				<td> <a href="../elements/14569.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14570.html" target="element"> Shipping order </a> </td>
																				<td> <a href="../elements/14570.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14571.html" target="element"> GDN </a> </td>
																				<td> <a href="../elements/14571.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14573.html" target="element"> Final products </a> </td>
																				<td> <a href="../elements/14573.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10786.html" target="element"> Production </a> </td>
																				<td> <a href="../elements/10785.html" target="element"> Logistics </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/14557.html" target="element"> New customer approved </a> </td>
																				<td> <a href="../elements/14557.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/14538.html" target="element"> Customer relationship management </a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14554.html" target="element"> Cust credit assessment </a> </td>
																				<td> <a href="../elements/14554.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/14565.html" target="element"> Order assess. </a> </td>
																				<td> <a href="../elements/14565.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14553.html" target="element"> Cust. credit analysis req </a> </td>
																				<td> <a href="../elements/14553.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10789.html" target="element"> Finance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14559.html" target="element"> Cust. credit profile </a> </td>
																				<td> <a href="../elements/14559.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14546.html" target="element"> Contract </a> </td>
																				<td> <a href="../elements/14546.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14556.html" target="element"> New customer assessment request </a> </td>
																				<td> <a href="../elements/14556.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																				<td> <a href="../elements/14538.html" target="element"> Customer relationship management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14564.html" target="element"> Order info </a> </td>
																				<td> <a href="../elements/14564.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14550.html" target="element"> Customer order </a> </td>
																				<td> <a href="../elements/14550.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10784.html" target="element"> Sales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14568.html" target="element"> Invoice </a> </td>
																				<td> <a href="../elements/14568.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10793.html" target="element"> DCFinance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14545.html" target="element"> Offer </a> </td>
																				<td> <a href="../elements/14545.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14566.html" target="element"> Shipping order </a> </td>
																				<td> <a href="../elements/14566.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14563.html" target="element"> Invoice </a> </td>
																				<td> <a href="../elements/14563.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14555.html" target="element"> Cust. exposure req </a> </td>
																				<td> <a href="../elements/14555.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																				<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14548.html" target="element"> Delivery notification </a> </td>
																				<td> <a href="../elements/14548.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																				<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14567.html" target="element"> GDN </a> </td>
																				<td> <a href="../elements/14567.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																				<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/14558.html" target="element"> Order </a> </td>
																		<td> <a href="../elements/14558.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10791.html" target="element"> Commercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14549.html" target="element"> Delivery confirmation </a> </td>
																		<td> <a href="../elements/14549.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10792.html" target="element"> Distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14544.html" target="element"> Inquiry </a> </td>
																		<td> <a href="../elements/14544.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10998.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/10790.html" target="element"> DC Customer relations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14547.html" target="element"> Bank statement </a> </td>
																		<td> <a href="../elements/14547.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10999.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/10793.html" target="element"> DCFinance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>