<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application architecture_new_1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application architecture_new_1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14663.png" alt="Application architecture_new_1" usemap="#14663map"/>
			   <map name="14663map">
				  		<area shape="rect" coords="43,154,969,214" href="../elements/10685.html"  target="element">
				  				<area shape="rect" coords="673,43,806,123" href="../elements/10681.html"  target="element">
				  				<area shape="rect" coords="830,43,956,123" href="../elements/10671.html"  target="element">
				  				<area shape="rect" coords="536,43,649,123" href="../elements/14477.html"  target="element">

				          <area shape="rect" coords="530,10,976,276" href="../objects/14679.html" target="element" >
				  				<area shape="rect" coords="704,450,861,530" href="../elements/14484.html"  target="element">
				  				<area shape="rect" coords="562,370,695,456" href="../elements/8618.html"  target="element">
				  				<area shape="rect" coords="815,370,948,446" href="../elements/10683.html"  target="element">

				          <area shape="rect" coords="536,337,969,543" href="../objects/14674.html" target="element" >
				  				<area shape="rect" coords="286,429,425,522" href="../elements/10684.html"  target="element">
				  				<area shape="rect" coords="343,43,476,123" href="../elements/10680.html"  target="element">
				  				<area shape="rect" coords="176,43,309,123" href="../elements/10672.html"  target="element">
				  				<area shape="rect" coords="63,316,196,396" href="../elements/10673.html"  target="element">
				  				<area shape="rect" coords="243,279,469,379" href="../elements/14478.html"  target="element">

				          <area shape="rect" coords="10,10,496,543" href="../objects/14665.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/14665.html" target="element"> Production center </a> </td>
									           <td> <a href="../objects/14665.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/14478.html" target="element"> ERP application </a> </td>
													    <td> <a href="../elements/14478.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
													    <td> <a href="../elements/10673.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
													    <td> <a href="../elements/10672.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
													    <td> <a href="../elements/10680.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
													    <td> <a href="../elements/10684.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/14674.html" target="element"> HQ </a> </td>
									           <td> <a href="../objects/14674.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
													    <td> <a href="../elements/10683.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
													    <td> <a href="../elements/8618.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
													    <td> <a href="../elements/14484.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/14679.html" target="element"> Distribution center </a> </td>
									           <td> <a href="../objects/14679.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/14477.html" target="element"> DC Shipping application </a> </td>
													    <td> <a href="../elements/14477.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
													    <td> <a href="../elements/10671.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
													    <td> <a href="../elements/10681.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
											    <td> <a href="../elements/10685.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/14522.html" target="element">  </a> </td>
																				<td> <a href="../elements/14522.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/14478.html" target="element"> ERP application </a> </td>
																				<td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14507.html" target="element">  </a> </td>
																				<td> <a href="../elements/14507.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/14478.html" target="element"> ERP application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10739.html" target="element">  </a> </td>
																				<td> <a href="../elements/10739.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10738.html" target="element">  </a> </td>
																				<td> <a href="../elements/10738.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10755.html" target="element">  </a> </td>
																				<td> <a href="../elements/10755.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14523.html" target="element">  </a> </td>
																				<td> <a href="../elements/14523.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10684.html" target="element"> Production scheduliing </a> </td>
																				<td> <a href="../elements/14478.html" target="element"> ERP application </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/10751.html" target="element">  </a> </td>
																				<td> <a href="../elements/10751.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14504.html" target="element">  </a> </td>
																				<td> <a href="../elements/14504.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14524.html" target="element">  </a> </td>
																				<td> <a href="../elements/14524.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/14502.html" target="element">  </a> </td>
																				<td> <a href="../elements/14502.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/14477.html" target="element"> DC Shipping application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10747.html" target="element">  </a> </td>
																				<td> <a href="../elements/10747.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10748.html" target="element">  </a> </td>
																				<td> <a href="../elements/10748.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
																				<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/14505.html" target="element">  </a> </td>
																		<td> <a href="../elements/14505.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14506.html" target="element">  </a> </td>
																		<td> <a href="../elements/14506.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/14478.html" target="element"> ERP application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14525.html" target="element">  </a> </td>
																		<td> <a href="../elements/14525.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10752.html" target="element">  </a> </td>
																		<td> <a href="../elements/10752.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10683.html" target="element"> Financial application HQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14503.html" target="element">  </a> </td>
																		<td> <a href="../elements/14503.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/14477.html" target="element"> DC Shipping application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10750.html" target="element">  </a> </td>
																		<td> <a href="../elements/10750.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10671.html" target="element"> Invoicing application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10737.html" target="element">  </a> </td>
																		<td> <a href="../elements/10737.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10673.html" target="element"> Distributors management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10736.html" target="element">  </a> </td>
																		<td> <a href="../elements/10736.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10672.html" target="element"> Shipping application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10749.html" target="element">  </a> </td>
																		<td> <a href="../elements/10749.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10681.html" target="element"> Financial application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10741.html" target="element">  </a> </td>
																		<td> <a href="../elements/10741.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																		<td> <a href="../elements/10680.html" target="element"> Invoicing (Distributors) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>