<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Org. structure_new</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Org. structure_new</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-15"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_15" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14706.png" alt="Org. structure_new" usemap="#14706map"/>
			   <map name="14706map">
				  				<area shape="rect" coords="396,262,496,322" href="../elements/10764.html"  target="element">
				  				<area shape="rect" coords="396,330,496,390" href="../elements/10765.html"  target="element">
				  						<area shape="rect" coords="263,288,356,352" href="../elements/10777.html"  target="element">
				  						<area shape="rect" coords="143,288,256,351" href="../elements/10776.html"  target="element">
				  						<area shape="rect" coords="29,287,136,350" href="../elements/10775.html"  target="element">

				  				<area shape="rect" coords="23,263,376,389" href="../elements/10773.html"  target="element">
				  						<area shape="rect" coords="268,166,367,234" href="../elements/10772.html"  target="element">
				  						<area shape="rect" coords="143,165,255,233" href="../elements/10770.html"  target="element">
				  						<area shape="rect" coords="29,165,128,233" href="../elements/10768.html"  target="element">
				  						<area shape="rect" coords="380,165,479,233" href="../elements/10771.html"  target="element">

				  				<area shape="rect" coords="23,137,496,246" href="../elements/10766.html"  target="element">
				  						<area shape="rect" coords="29,51,129,117" href="../elements/10780.html"  target="element">
				  						<area shape="rect" coords="143,51,236,117" href="../elements/10781.html"  target="element">
				  						<area shape="rect" coords="256,51,342,117" href="../elements/10783.html"  target="element">
				  						<area shape="rect" coords="359,51,479,117" href="../elements/14536.html"  target="element">

				  				<area shape="rect" coords="23,31,496,131" href="../elements/10778.html"  target="element">

				  		<area shape="rect" coords="10,10,523,403" href="../elements/10762.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10762.html" target="element"> ArchiMetal </a> </td>
											    <td> <a href="../elements/10762.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10778.html" target="element"> HQ </a> </td>
													    <td> <a href="../elements/10778.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/14536.html" target="element"> Customer service </a> </td>
															    <td> <a href="../elements/14536.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10783.html" target="element"> HR </a> </td>
															    <td> <a href="../elements/10783.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10781.html" target="element"> Finance </a> </td>
															    <td> <a href="../elements/10781.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10780.html" target="element"> QualityMgt </a> </td>
															    <td> <a href="../elements/10780.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10766.html" target="element"> Production center </a> </td>
													    <td> <a href="../elements/10766.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/10771.html" target="element"> Sales </a> </td>
															    <td> <a href="../elements/10771.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10768.html" target="element"> Production </a> </td>
															    <td> <a href="../elements/10768.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10770.html" target="element"> Procurement </a> </td>
															    <td> <a href="../elements/10770.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10772.html" target="element"> Logistics </a> </td>
															    <td> <a href="../elements/10772.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10773.html" target="element"> DC Benelux </a> </td>
													    <td> <a href="../elements/10773.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/10775.html" target="element"> Distribution </a> </td>
															    <td> <a href="../elements/10775.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10776.html" target="element"> Commercial </a> </td>
															    <td> <a href="../elements/10776.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10777.html" target="element"> Customer relations </a> </td>
															    <td> <a href="../elements/10777.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10765.html" target="element"> DC Spain </a> </td>
													    <td> <a href="../elements/10765.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10764.html" target="element"> DC East Europe </a> </td>
													    <td> <a href="../elements/10764.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													
													
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>