<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Process customer order_new</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Process customer order_new</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14843.png" alt="Process customer order_new" usemap="#14843map"/>
			   <map name="14843map">
				  		<area shape="rect" coords="530,10,643,56" href="../elements/10766.html"  target="element">
				  		<area shape="rect" coords="563,363,716,409" href="../elements/14540.html"  target="element">
				  		<area shape="rect" coords="490,271,596,330" href="../elements/10801.html"  target="element">
				  		<area shape="rect" coords="399,357,538,416" href="../elements/10805.html"  target="element">
				  		<area shape="rect" coords="150,284,256,343" href="../elements/10808.html"  target="element">
				  		<area shape="rect" coords="23,284,116,343" href="../elements/10806.html"  target="element">
				  		<area shape="rect" coords="283,284,403,347" href="../elements/14539.html"  target="element">
				  		<area shape="rect" coords="10,137,123,183" href="../elements/14541.html"  target="element">
				  				<area shape="rect" coords="536,136,642,201" href="../elements/10821.html"  target="element">
				  				<area shape="rect" coords="285,136,398,201" href="../elements/10829.html"  target="element">
				  				<area shape="rect" coords="416,136,516,201" href="../elements/10827.html"  target="element">
				  				<area shape="rect" coords="156,136,269,201" href="../elements/10828.html"  target="element">

				  		<area shape="rect" coords="150,110,656,216" href="../elements/8660.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
											    <td> <a href="../elements/8660.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
													    <td> <a href="../elements/10828.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
													    <td> <a href="../elements/10827.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
													    <td> <a href="../elements/10829.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10821.html" target="element"> Update customer order </a> </td>
													    <td> <a href="../elements/10821.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14541.html" target="element"> Customer order registered </a> </td>
											    <td> <a href="../elements/14541.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14539.html" target="element"> Customer order data </a> </td>
											    <td> <a href="../elements/14539.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10806.html" target="element"> Inventory data </a> </td>
											    <td> <a href="../elements/10806.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10808.html" target="element"> Production order data </a> </td>
											    <td> <a href="../elements/10808.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10805.html" target="element"> Distributor data </a> </td>
											    <td> <a href="../elements/10805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10801.html" target="element"> Shipping order data </a> </td>
											    <td> <a href="../elements/10801.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14540.html" target="element"> Customer order update </a> </td>
											    <td> <a href="../elements/14540.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10766.html" target="element"> Production center </a> </td>
											    <td> <a href="../elements/10766.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/10961.html" target="element">  </a> </td>
																				<td> <a href="../elements/10961.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																				<td> <a href="../elements/10806.html" target="element"> Inventory data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10963.html" target="element">  </a> </td>
																				<td> <a href="../elements/10963.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14581.html" target="element">  </a> </td>
																				<td> <a href="../elements/14581.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10828.html" target="element"> Check availability </a> </td>
																				<td> <a href="../elements/14539.html" target="element"> Customer order data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10957.html" target="element">  </a> </td>
																				<td> <a href="../elements/10957.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/10801.html" target="element"> Shipping order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14582.html" target="element">  </a> </td>
																				<td> <a href="../elements/14582.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/14539.html" target="element"> Customer order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14580.html" target="element">  </a> </td>
																				<td> <a href="../elements/14580.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																				<td> <a href="../elements/10821.html" target="element"> Update customer order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14578.html" target="element">  </a> </td>
																				<td> <a href="../elements/14578.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/14539.html" target="element"> Customer order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10958.html" target="element">  </a> </td>
																				<td> <a href="../elements/10958.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/10808.html" target="element"> Production order data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/10964.html" target="element">  </a> </td>
																				<td> <a href="../elements/10964.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10829.html" target="element"> Create production order </a> </td>
																				<td> <a href="../elements/10827.html" target="element"> Create shipping order </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/16471.html" target="element">  </a> </td>
																				<td> <a href="../elements/16471.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/10821.html" target="element"> Update customer order </a> </td>
																				<td> <a href="../elements/14540.html" target="element"> Customer order update </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14583.html" target="element">  </a> </td>
																				<td> <a href="../elements/14583.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/10821.html" target="element"> Update customer order </a> </td>
																				<td> <a href="../elements/14539.html" target="element"> Customer order data </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/14577.html" target="element">  </a> </td>
																		<td> <a href="../elements/14577.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14541.html" target="element"> Customer order registered </a> </td>
																		<td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12935.html" target="element">  </a> </td>
																		<td> <a href="../elements/12935.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/10766.html" target="element"> Production center </a> </td>
																		<td> <a href="../elements/8660.html" target="element"> Process customer order </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>