<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Track customer order_new_IT</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Track customer order_new_IT</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14914.png" alt="Track customer order_new_IT" usemap="#14914map"/>
			   <map name="14914map">
				  		<area shape="rect" coords="562,122,655,175" href="../elements/10778.html"  target="element">
				  		<area shape="rect" coords="444,416,550,482" href="../elements/19471.html"  target="element">
				  		<area shape="rect" coords="420,322,573,375" href="../elements/10693.html"  target="element">
				  		<area shape="rect" coords="590,416,729,482" href="../elements/10685.html"  target="element">
				  		<area shape="rect" coords="274,310,400,390" href="../elements/14484.html"  target="element">
				  		<area shape="rect" coords="10,130,120,170" href="../elements/14540.html"  target="element">
				  		<area shape="rect" coords="290,416,406,482" href="../elements/8618.html"  target="element">
				  		<area shape="rect" coords="267,238,407,284" href="../elements/14488.html"  target="element">
				  				<area shape="rect" coords="350,116,476,182" href="../elements/12931.html"  target="element">
				  				<area shape="rect" coords="192,116,305,182" href="../elements/12930.html"  target="element">

				  		<area shape="rect" coords="164,96,510,202" href="../elements/12927.html"  target="element">
				  		<area shape="rect" coords="267,10,406,56" href="../elements/10859.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/10859.html" target="element"> Order information service </a> </td>
											    <td> <a href="../elements/10859.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
											    <td> <a href="../elements/12927.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/12930.html" target="element"> Prepare notification message </a> </td>
													    <td> <a href="../elements/12930.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/12931.html" target="element"> Send notification to customer </a> </td>
													    <td> <a href="../elements/12931.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/14488.html" target="element"> Customer order tracking service </a> </td>
											    <td> <a href="../elements/14488.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
											    <td> <a href="../elements/8618.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14540.html" target="element"> Customer order update </a> </td>
											    <td> <a href="../elements/14540.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
											    <td> <a href="../elements/14484.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
											    <td> <a href="../elements/10685.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10693.html" target="element"> Customer information service </a> </td>
											    <td> <a href="../elements/10693.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/19471.html" target="element"> Customer order status </a> </td>
											    <td> <a href="../elements/19471.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10778.html" target="element"> HQ </a> </td>
											    <td> <a href="../elements/10778.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/12937.html" target="element">  </a> </td>
																		<td> <a href="../elements/12937.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																		<td> <a href="../elements/10859.html" target="element"> Order information service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17449.html" target="element">  </a> </td>
																		<td> <a href="../elements/17449.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																		<td> <a href="../elements/14488.html" target="element"> Customer order tracking service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/14584.html" target="element">  </a> </td>
																				<td> <a href="../elements/14584.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/12930.html" target="element"> Prepare notification message </a> </td>
																				<td> <a href="../elements/12931.html" target="element"> Send notification to customer </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/14579.html" target="element">  </a> </td>
																		<td> <a href="../elements/14579.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14540.html" target="element"> Customer order update </a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14527.html" target="element">  </a> </td>
																		<td> <a href="../elements/14527.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																		<td> <a href="../elements/14488.html" target="element"> Customer order tracking service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14528.html" target="element">  </a> </td>
																		<td> <a href="../elements/14528.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/10693.html" target="element"> Customer information service </a> </td>
																		<td> <a href="../elements/14484.html" target="element"> Customer order monitoring application </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/19483.html" target="element">  </a> </td>
																		<td> <a href="../elements/19483.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/19471.html" target="element"> Customer order status </a> </td>
																		<td> <a href="../elements/10693.html" target="element"> Customer information service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19472.html" target="element">  </a> </td>
																		<td> <a href="../elements/19472.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/19471.html" target="element"> Customer order status </a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19473.html" target="element">  </a> </td>
																		<td> <a href="../elements/19473.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/19471.html" target="element"> Customer order status </a> </td>
																		<td> <a href="../elements/10685.html" target="element"> EAI bus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12932.html" target="element">  </a> </td>
																		<td> <a href="../elements/12932.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/10778.html" target="element"> HQ </a> </td>
																		<td> <a href="../elements/12927.html" target="element"> Track customer order </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>