<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CRM behavior_new_1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>CRM behavior_new_1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14957.png" alt="CRM behavior_new_1" usemap="#14957map"/>
			   <map name="14957map">
				  		<area shape="rect" coords="397,217,536,276" href="../elements/12914.html"  target="element">
				  		<area shape="rect" coords="163,343,323,396" href="../elements/8618.html"  target="element">
				  		<area shape="rect" coords="10,217,149,276" href="../elements/12913.html"  target="element">
				  		<area shape="rect" coords="207,220,340,273" href="../elements/14482.html"  target="element">
				  		<area shape="rect" coords="207,110,340,163" href="../elements/14534.html"  target="element">
				  		<area shape="rect" coords="214,10,334,65" href="../elements/14489.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/14489.html" target="element"> Contract creation service </a> </td>
											    <td> <a href="../elements/14489.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14534.html" target="element"> Create customer contract </a> </td>
											    <td> <a href="../elements/14534.html" target="element" class="i18n-elementtype-ApplicationInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14482.html" target="element"> Customer contract </a> </td>
											    <td> <a href="../elements/14482.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12913.html" target="element"> Customer data component </a> </td>
											    <td> <a href="../elements/12913.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
											    <td> <a href="../elements/8618.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12914.html" target="element"> Contracts component </a> </td>
											    <td> <a href="../elements/12914.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/14511.html" target="element">  </a> </td>
																		<td> <a href="../elements/14511.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14534.html" target="element"> Create customer contract </a> </td>
																		<td> <a href="../elements/14489.html" target="element"> Contract creation service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14517.html" target="element">  </a> </td>
																		<td> <a href="../elements/14517.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/14482.html" target="element"> Customer contract </a> </td>
																		<td> <a href="../elements/14534.html" target="element"> Create customer contract </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14515.html" target="element">  </a> </td>
																		<td> <a href="../elements/14515.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/12913.html" target="element"> Customer data component </a> </td>
																		<td> <a href="../elements/14482.html" target="element"> Customer contract </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14513.html" target="element">  </a> </td>
																		<td> <a href="../elements/14513.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																		<td> <a href="../elements/12913.html" target="element"> Customer data component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14514.html" target="element">  </a> </td>
																		<td> <a href="../elements/14514.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/8618.html" target="element"> CRM system </a> </td>
																		<td> <a href="../elements/12914.html" target="element"> Contracts component </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14516.html" target="element">  </a> </td>
																		<td> <a href="../elements/14516.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/12914.html" target="element"> Contracts component </a> </td>
																		<td> <a href="../elements/14482.html" target="element"> Customer contract </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>