<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04. Change in production schedule</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04. Change in production schedule</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-8"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_8" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/18289.png" alt="04. Change in production schedule" usemap="#18289map"/>
			   <map name="18289map">
				  		<area shape="rect" coords="650,10,783,63" href="../elements/6566.html"  target="element">
				  		<area shape="rect" coords="476,10,609,76" href="../elements/6565.html"  target="element">
				  		<area shape="rect" coords="290,10,423,76" href="../elements/6564.html"  target="element">
				  		<area shape="rect" coords="103,10,236,63" href="../elements/6562.html"  target="element">
				  		<area shape="rect" coords="670,217,803,297" href="../elements/6195.html"  target="element">
				  		<area shape="rect" coords="490,217,623,297" href="../elements/6192.html"  target="element">
				  		<area shape="rect" coords="310,217,443,290" href="../elements/6194.html"  target="element">
				  		<area shape="rect" coords="110,217,243,290" href="../elements/6193.html"  target="element">
				  		<area shape="rect" coords="376,97,509,170" href="../elements/6176.html"  target="element">
				  		<area shape="rect" coords="196,104,329,164" href="../elements/6177.html"  target="element">
				  		<area shape="rect" coords="10,104,143,157" href="../elements/6188.html"  target="element">
				  		<area shape="rect" coords="556,97,689,170" href="../elements/6186.html"  target="element">
				  		<area shape="rect" coords="730,97,863,157" href="../elements/6184.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
											    <td> <a href="../elements/6184.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
											    <td> <a href="../elements/6186.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6188.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
											    <td> <a href="../elements/6177.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
											    <td> <a href="../elements/6176.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6193.html" target="element"> Order </a> </td>
											    <td> <a href="../elements/6193.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
											    <td> <a href="../elements/6194.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
											    <td> <a href="../elements/6192.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
											    <td> <a href="../elements/6195.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
											    <td> <a href="../elements/6562.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
											    <td> <a href="../elements/6564.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
											    <td> <a href="../elements/6565.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
											    <td> <a href="../elements/6566.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6595.html" target="element">  </a> </td>
																		<td> <a href="../elements/6595.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																		<td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6209.html" target="element">  </a> </td>
																		<td> <a href="../elements/6209.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																		<td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6210.html" target="element">  </a> </td>
																		<td> <a href="../elements/6210.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6593.html" target="element">  </a> </td>
																		<td> <a href="../elements/6593.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6596.html" target="element">  </a> </td>
																		<td> <a href="../elements/6596.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6208.html" target="element">  </a> </td>
																		<td> <a href="../elements/6208.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6567.html" target="element">  </a> </td>
																		<td> <a href="../elements/6567.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6204.html" target="element">  </a> </td>
																		<td> <a href="../elements/6204.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6193.html" target="element"> Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6590.html" target="element">  </a> </td>
																		<td> <a href="../elements/6590.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6592.html" target="element">  </a> </td>
																		<td> <a href="../elements/6592.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6206.html" target="element">  </a> </td>
																		<td> <a href="../elements/6206.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6205.html" target="element">  </a> </td>
																		<td> <a href="../elements/6205.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6193.html" target="element"> Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6591.html" target="element">  </a> </td>
																		<td> <a href="../elements/6591.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6207.html" target="element">  </a> </td>
																		<td> <a href="../elements/6207.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6594.html" target="element">  </a> </td>
																		<td> <a href="../elements/6594.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6211.html" target="element">  </a> </td>
																		<td> <a href="../elements/6211.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>