<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05. ISA-95 messages exchanged</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05. ISA-95 messages exchanged</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-11"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_11" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/18417.png" alt="05. ISA-95 messages exchanged" usemap="#18417map"/>
			   <map name="18417map">
				  						<area shape="rect" coords="71,757,184,821" href="../elements/18696.html"  target="element">

				  				<area shape="rect" coords="58,724,209,827" href="../elements/18642.html"  target="element">
				  				<area shape="rect" coords="58,643,209,696" href="../elements/18616.html"  target="element">
				  						<area shape="rect" coords="70,565,190,617" href="../elements/18669.html"  target="element">

				  				<area shape="rect" coords="58,529,209,623" href="../elements/10478.html"  target="element">
				  						<area shape="rect" coords="70,370,183,419" href="../elements/18667.html"  target="element">

				  				<area shape="rect" coords="58,334,209,431" href="../elements/10473.html"  target="element">
				  						<area shape="rect" coords="70,185,183,234" href="../elements/18705.html"  target="element">

				  				<area shape="rect" coords="58,149,209,251" href="../elements/10474.html"  target="element">
				  				<area shape="rect" coords="58,263,209,316" href="../elements/18524.html"  target="element">
				  				<area shape="rect" coords="58,441,209,494" href="../elements/18479.html"  target="element">
				  				<area shape="rect" coords="58,63,209,116" href="../elements/18476.html"  target="element">

				          <area shape="rect" coords="10,10,263,850" href="../objects/18429.html" target="element" >
				  						<area shape="rect" coords="435,760,548,812" href="../elements/18645.html"  target="element">

				  				<area shape="rect" coords="423,724,570,827" href="../elements/18643.html"  target="element">
				  				<area shape="rect" coords="423,643,570,696" href="../elements/18646.html"  target="element">
				  						<area shape="rect" coords="435,565,555,605" href="../elements/18670.html"  target="element">

				  				<area shape="rect" coords="423,529,570,623" href="../elements/10475.html"  target="element">
				  						<area shape="rect" coords="435,370,548,422" href="../elements/18668.html"  target="element">

				  				<area shape="rect" coords="423,334,570,431" href="../elements/10476.html"  target="element">
				  						<area shape="rect" coords="435,197,548,246" href="../elements/18644.html"  target="element">

				  				<area shape="rect" coords="423,149,570,251" href="../elements/18515.html"  target="element">
				  				<area shape="rect" coords="423,441,570,494" href="../elements/18481.html"  target="element">
				  				<area shape="rect" coords="423,263,570,316" href="../elements/18478.html"  target="element">
				  				<area shape="rect" coords="423,63,570,116" href="../elements/18477.html"  target="element">

				          <area shape="rect" coords="377,10,630,850" href="../objects/18427.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/18427.html" target="element"> Responses from MES </a> </td>
									           <td> <a href="../objects/18427.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/18477.html" target="element"> New schedule acceptance </a> </td>
													    <td> <a href="../elements/18477.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18478.html" target="element"> Production status </a> </td>
													    <td> <a href="../elements/18478.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18481.html" target="element"> Schedule revision confirmation </a> </td>
													    <td> <a href="../elements/18481.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18515.html" target="element"> ACKNOWLEDGE - ACCEPTED </a> </td>
													    <td> <a href="../elements/18515.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18644.html" target="element"> New schedule ID </a> </td>
															    <td> <a href="../elements/18644.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10476.html" target="element"> SHOW </a> </td>
													    <td> <a href="../elements/10476.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18668.html" target="element"> Status </a> </td>
															    <td> <a href="../elements/18668.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10475.html" target="element"> RESPOND </a> </td>
													    <td> <a href="../elements/10475.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18670.html" target="element"> Change made </a> </td>
															    <td> <a href="../elements/18670.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/18646.html" target="element"> New equipment confirmation </a> </td>
													    <td> <a href="../elements/18646.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18643.html" target="element"> ACKNOWLEDGE </a> </td>
													    <td> <a href="../elements/18643.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18645.html" target="element"> New equipment ID </a> </td>
															    <td> <a href="../elements/18645.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/18429.html" target="element"> Instructions from ERP System </a> </td>
									           <td> <a href="../objects/18429.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/18476.html" target="element"> Add new production schedule </a> </td>
													    <td> <a href="../elements/18476.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18479.html" target="element"> Schedule revision </a> </td>
													    <td> <a href="../elements/18479.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18524.html" target="element"> Production status request </a> </td>
													    <td> <a href="../elements/18524.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/10474.html" target="element"> PROCESS </a> </td>
													    <td> <a href="../elements/10474.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18705.html" target="element"> New schedule </a> </td>
															    <td> <a href="../elements/18705.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10473.html" target="element"> GET </a> </td>
													    <td> <a href="../elements/10473.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18667.html" target="element"> Status requested </a> </td>
															    <td> <a href="../elements/18667.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/10478.html" target="element"> SYNC CHANGE </a> </td>
													    <td> <a href="../elements/10478.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18669.html" target="element"> Change requested </a> </td>
															    <td> <a href="../elements/18669.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/18616.html" target="element"> Add new equipment </a> </td>
													    <td> <a href="../elements/18616.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18642.html" target="element"> PROCESS </a> </td>
													    <td> <a href="../elements/18642.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/18696.html" target="element"> New equipment requested </a> </td>
															    <td> <a href="../elements/18696.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/18574.html" target="element">  </a> </td>
																				<td> <a href="../elements/18574.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18515.html" target="element"> ACKNOWLEDGE - ACCEPTED </a> </td>
																				<td> <a href="../elements/18477.html" target="element"> New schedule acceptance </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18605.html" target="element">  </a> </td>
																				<td> <a href="../elements/18605.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10476.html" target="element"> SHOW </a> </td>
																				<td> <a href="../elements/18478.html" target="element"> Production status </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18604.html" target="element">  </a> </td>
																				<td> <a href="../elements/18604.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10475.html" target="element"> RESPOND </a> </td>
																				<td> <a href="../elements/18481.html" target="element"> Schedule revision confirmation </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18671.html" target="element">  </a> </td>
																				<td> <a href="../elements/18671.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18643.html" target="element"> ACKNOWLEDGE </a> </td>
																				<td> <a href="../elements/18646.html" target="element"> New equipment confirmation </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/18580.html" target="element">  </a> </td>
																				<td> <a href="../elements/18580.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18476.html" target="element"> Add new production schedule </a> </td>
																				<td> <a href="../elements/18477.html" target="element"> New schedule acceptance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/18582.html" target="element">  </a> </td>
																				<td> <a href="../elements/18582.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18479.html" target="element"> Schedule revision </a> </td>
																				<td> <a href="../elements/18481.html" target="element"> Schedule revision confirmation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/18581.html" target="element">  </a> </td>
																				<td> <a href="../elements/18581.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18524.html" target="element"> Production status request </a> </td>
																				<td> <a href="../elements/18478.html" target="element"> Production status </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/18601.html" target="element">  </a> </td>
																				<td> <a href="../elements/18601.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10474.html" target="element"> PROCESS </a> </td>
																				<td> <a href="../elements/18476.html" target="element"> Add new production schedule </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18602.html" target="element">  </a> </td>
																				<td> <a href="../elements/18602.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10473.html" target="element"> GET </a> </td>
																				<td> <a href="../elements/18524.html" target="element"> Production status request </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18603.html" target="element">  </a> </td>
																				<td> <a href="../elements/18603.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/10478.html" target="element"> SYNC CHANGE </a> </td>
																				<td> <a href="../elements/18479.html" target="element"> Schedule revision </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/18697.html" target="element">  </a> </td>
																				<td> <a href="../elements/18697.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18616.html" target="element"> Add new equipment </a> </td>
																				<td> <a href="../elements/18646.html" target="element"> New equipment confirmation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/18672.html" target="element">  </a> </td>
																				<td> <a href="../elements/18672.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/18642.html" target="element"> PROCESS </a> </td>
																				<td> <a href="../elements/18616.html" target="element"> Add new equipment </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>