<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Functional enterprise-control model</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Functional enterprise-control model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6213.png" alt="01. Functional enterprise-control model" usemap="#6213map"/>
			   <map name="6213map">
				          <area shape="rect" coords="13,450,286,630" href="../objects/6668.html" target="element" >
				  				<area shape="rect" coords="1158,89,1291,142" href="../elements/6175.html"  target="element">
				  				<area shape="rect" coords="1541,78,1674,142" href="../elements/6176.html"  target="element">
				  				<area shape="rect" coords="1349,89,1482,142" href="../elements/6180.html"  target="element">
				  				<area shape="rect" coords="775,78,908,142" href="../elements/6173.html"  target="element">
				  				<area shape="rect" coords="584,89,717,142" href="../elements/6172.html"  target="element">
				  				<area shape="rect" coords="2115,89,2248,142" href="../elements/6179.html"  target="element">
				  				<area shape="rect" coords="1923,89,2056,142" href="../elements/6178.html"  target="element">
				  				<area shape="rect" coords="1732,89,1865,142" href="../elements/6177.html"  target="element">
				  				<area shape="rect" coords="967,76,1100,142" href="../elements/6174.html"  target="element">

				          <area shape="rect" coords="567,10,2313,196" href="../objects/7905.html" target="element" >
				  				<area shape="rect" coords="1419,1056,1552,1134" href="../elements/6524.html"  target="element">
				  				<area shape="rect" coords="1219,1061,1352,1114" href="../elements/6523.html"  target="element">
				  				<area shape="rect" coords="1015,1050,1148,1114" href="../elements/6522.html"  target="element">
				  				<area shape="rect" coords="811,1050,944,1114" href="../elements/6521.html"  target="element">
				  				<area shape="rect" coords="607,1050,740,1114" href="../elements/6520.html"  target="element">
				  				<area shape="rect" coords="403,1061,536,1114" href="../elements/6519.html"  target="element">

				          <area shape="rect" coords="353,1010,1633,1176" href="../objects/7913.html" target="element" >
				  		<area shape="rect" coords="846,648,979,701" href="../elements/6138.html"  target="element">
				  		<area shape="rect" coords="530,763,1296,816" href="../elements/6141.html"  target="element">
				  		<area shape="rect" coords="530,536,1296,589" href="../elements/6140.html"  target="element">
				  		<area shape="rect" coords="1227,1186,1360,1239" href="../elements/6185.html"  target="element">
				  		<area shape="rect" coords="1423,1186,1556,1239" href="../elements/6186.html"  target="element">
				  		<area shape="rect" coords="809,1186,942,1239" href="../elements/6183.html"  target="element">
				  		<area shape="rect" coords="1018,1186,1151,1239" href="../elements/6184.html"  target="element">
				  		<area shape="rect" coords="393,96,526,149" href="../elements/6187.html"  target="element">
				  		<area shape="rect" coords="400,1190,533,1243" href="../elements/6182.html"  target="element">
				  		<area shape="rect" coords="10,72,143,150" href="../elements/6189.html"  target="element">
				  		<area shape="rect" coords="201,96,334,149" href="../elements/6188.html"  target="element">
				  		<area shape="rect" coords="610,1185,743,1249" href="../elements/6181.html"  target="element">
				  		<area shape="rect" coords="1923,243,2056,307" href="../elements/6458.html"  target="element">
				  		<area shape="rect" coords="1732,243,1865,296" href="../elements/6457.html"  target="element">
				  		<area shape="rect" coords="1541,243,1674,321" href="../elements/6456.html"  target="element">
				  		<area shape="rect" coords="1349,243,1482,307" href="../elements/6455.html"  target="element">
				  		<area shape="rect" coords="1158,243,1291,307" href="../elements/6454.html"  target="element">
				  		<area shape="rect" coords="967,243,1100,296" href="../elements/6453.html"  target="element">
				  		<area shape="rect" coords="775,243,908,307" href="../elements/6452.html"  target="element">
				  		<area shape="rect" coords="584,243,717,296" href="../elements/6451.html"  target="element">
				  		<area shape="rect" coords="2115,243,2248,307" href="../elements/6450.html"  target="element">
				  		<area shape="rect" coords="393,243,526,296" href="../elements/6449.html"  target="element">
				  		<area shape="rect" coords="201,243,334,296" href="../elements/6406.html"  target="element">
				  		<area shape="rect" coords="10,243,143,321" href="../elements/6405.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6405.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
											    <td> <a href="../elements/6405.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6406.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6406.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6449.html" target="element"> Enterprise: Customer Service </a> </td>
											    <td> <a href="../elements/6449.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6450.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
											    <td> <a href="../elements/6450.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6451.html" target="element"> Enterprise: Quality Assurance </a> </td>
											    <td> <a href="../elements/6451.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6452.html" target="element"> Enterprise: Maintenance Management </a> </td>
											    <td> <a href="../elements/6452.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6453.html" target="element"> Enterprise: Procurement </a> </td>
											    <td> <a href="../elements/6453.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6454.html" target="element"> Enterprise: Material and Energy Control </a> </td>
											    <td> <a href="../elements/6454.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6455.html" target="element"> Enterprise: Product Inventory Control </a> </td>
											    <td> <a href="../elements/6455.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6456.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
											    <td> <a href="../elements/6456.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6457.html" target="element"> Enterprise: Order Processing </a> </td>
											    <td> <a href="../elements/6457.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6458.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
											    <td> <a href="../elements/6458.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6181.html" target="element"> Control: Maintenance Management </a> </td>
											    <td> <a href="../elements/6181.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6188.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
											    <td> <a href="../elements/6189.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6182.html" target="element"> Control: quality assurance </a> </td>
											    <td> <a href="../elements/6182.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6187.html" target="element"> Enterprise: Customer Service </a> </td>
											    <td> <a href="../elements/6187.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
											    <td> <a href="../elements/6184.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6183.html" target="element"> Control: Material and Energy Control </a> </td>
											    <td> <a href="../elements/6183.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
											    <td> <a href="../elements/6186.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6185.html" target="element"> Control: Product Inventory Control </a> </td>
											    <td> <a href="../elements/6185.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
											    <td> <a href="../elements/6140.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
											    <td> <a href="../elements/6141.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
											    <td> <a href="../elements/6138.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7913.html" target="element"> Level 3: Manufacturing Operations &amp; Control </a> </td>
									           <td> <a href="../objects/7913.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6519.html" target="element"> Control: quality assurance </a> </td>
													    <td> <a href="../elements/6519.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6520.html" target="element"> Control: Maintenance Management </a> </td>
													    <td> <a href="../elements/6520.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6521.html" target="element"> Control: Material and Energy Control </a> </td>
													    <td> <a href="../elements/6521.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6522.html" target="element"> Control: Production Control </a> </td>
													    <td> <a href="../elements/6522.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6523.html" target="element"> Control: Product Inventory Control </a> </td>
													    <td> <a href="../elements/6523.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6524.html" target="element"> Control: Production Scheduling (Local) </a> </td>
													    <td> <a href="../elements/6524.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/7905.html" target="element"> Level 4: Business Planning and Logistics </a> </td>
									           <td> <a href="../objects/7905.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6174.html" target="element"> Enterprise: Procurement </a> </td>
													    <td> <a href="../elements/6174.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
													    <td> <a href="../elements/6177.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6178.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
													    <td> <a href="../elements/6178.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6179.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
													    <td> <a href="../elements/6179.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6172.html" target="element"> Enterprise: Quality Assurance </a> </td>
													    <td> <a href="../elements/6172.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6173.html" target="element"> Enterprise: Maintenance Management </a> </td>
													    <td> <a href="../elements/6173.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6180.html" target="element"> Enterprise: Product Inventory Control </a> </td>
													    <td> <a href="../elements/6180.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
													    <td> <a href="../elements/6176.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6175.html" target="element"> Enterprise: Material and Energy Control </a> </td>
													    <td> <a href="../elements/6175.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6668.html" target="element">  </a> </td>
									           <td> <a href="../objects/6668.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6506.html" target="element">  </a> </td>
																		<td> <a href="../elements/6506.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6405.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																		<td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6507.html" target="element">  </a> </td>
																		<td> <a href="../elements/6507.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6406.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6508.html" target="element">  </a> </td>
																		<td> <a href="../elements/6508.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6449.html" target="element"> Enterprise: Customer Service </a> </td>
																		<td> <a href="../elements/6187.html" target="element"> Enterprise: Customer Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6517.html" target="element">  </a> </td>
																		<td> <a href="../elements/6517.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6450.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
																		<td> <a href="../elements/6179.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6512.html" target="element">  </a> </td>
																		<td> <a href="../elements/6512.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6451.html" target="element"> Enterprise: Quality Assurance </a> </td>
																		<td> <a href="../elements/6172.html" target="element"> Enterprise: Quality Assurance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6511.html" target="element">  </a> </td>
																		<td> <a href="../elements/6511.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6452.html" target="element"> Enterprise: Maintenance Management </a> </td>
																		<td> <a href="../elements/6173.html" target="element"> Enterprise: Maintenance Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6510.html" target="element">  </a> </td>
																		<td> <a href="../elements/6510.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6453.html" target="element"> Enterprise: Procurement </a> </td>
																		<td> <a href="../elements/6174.html" target="element"> Enterprise: Procurement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6509.html" target="element">  </a> </td>
																		<td> <a href="../elements/6509.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6454.html" target="element"> Enterprise: Material and Energy Control </a> </td>
																		<td> <a href="../elements/6175.html" target="element"> Enterprise: Material and Energy Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6513.html" target="element">  </a> </td>
																		<td> <a href="../elements/6513.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6455.html" target="element"> Enterprise: Product Inventory Control </a> </td>
																		<td> <a href="../elements/6180.html" target="element"> Enterprise: Product Inventory Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6514.html" target="element">  </a> </td>
																		<td> <a href="../elements/6514.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6456.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6515.html" target="element">  </a> </td>
																		<td> <a href="../elements/6515.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6457.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6516.html" target="element">  </a> </td>
																		<td> <a href="../elements/6516.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6458.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
																		<td> <a href="../elements/6178.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6152.html" target="element">  </a> </td>
																		<td> <a href="../elements/6152.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6457.html" target="element"> Enterprise: Order Processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6518.html" target="element">  </a> </td>
																		<td> <a href="../elements/6518.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6453.html" target="element"> Enterprise: Procurement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6153.html" target="element">  </a> </td>
																		<td> <a href="../elements/6153.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6458.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6164.html" target="element">  </a> </td>
																		<td> <a href="../elements/6164.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6449.html" target="element"> Enterprise: Customer Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6165.html" target="element">  </a> </td>
																		<td> <a href="../elements/6165.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6406.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6155.html" target="element">  </a> </td>
																		<td> <a href="../elements/6155.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6455.html" target="element"> Enterprise: Product Inventory Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6166.html" target="element">  </a> </td>
																		<td> <a href="../elements/6166.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6405.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6148.html" target="element">  </a> </td>
																		<td> <a href="../elements/6148.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6452.html" target="element"> Enterprise: Maintenance Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6154.html" target="element">  </a> </td>
																		<td> <a href="../elements/6154.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6450.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6147.html" target="element">  </a> </td>
																		<td> <a href="../elements/6147.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6451.html" target="element"> Enterprise: Quality Assurance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6151.html" target="element">  </a> </td>
																		<td> <a href="../elements/6151.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6456.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6150.html" target="element">  </a> </td>
																		<td> <a href="../elements/6150.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/6454.html" target="element"> Enterprise: Material and Energy Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6158.html" target="element">  </a> </td>
																		<td> <a href="../elements/6158.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6520.html" target="element"> Control: Maintenance Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6162.html" target="element">  </a> </td>
																		<td> <a href="../elements/6162.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6523.html" target="element"> Control: Product Inventory Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6161.html" target="element">  </a> </td>
																		<td> <a href="../elements/6161.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6522.html" target="element"> Control: Production Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6160.html" target="element">  </a> </td>
																		<td> <a href="../elements/6160.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6521.html" target="element"> Control: Material and Energy Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6163.html" target="element">  </a> </td>
																		<td> <a href="../elements/6163.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6524.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6159.html" target="element">  </a> </td>
																		<td> <a href="../elements/6159.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/6519.html" target="element"> Control: quality assurance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6157.html" target="element">  </a> </td>
																		<td> <a href="../elements/6157.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6156.html" target="element">  </a> </td>
																		<td> <a href="../elements/6156.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/6550.html" target="element">  </a> </td>
																				<td> <a href="../elements/6550.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6519.html" target="element"> Control: quality assurance </a> </td>
																				<td> <a href="../elements/6182.html" target="element"> Control: quality assurance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6551.html" target="element">  </a> </td>
																				<td> <a href="../elements/6551.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6520.html" target="element"> Control: Maintenance Management </a> </td>
																				<td> <a href="../elements/6181.html" target="element"> Control: Maintenance Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6552.html" target="element">  </a> </td>
																				<td> <a href="../elements/6552.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6521.html" target="element"> Control: Material and Energy Control </a> </td>
																				<td> <a href="../elements/6183.html" target="element"> Control: Material and Energy Control </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6553.html" target="element">  </a> </td>
																				<td> <a href="../elements/6553.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6522.html" target="element"> Control: Production Control </a> </td>
																				<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6554.html" target="element">  </a> </td>
																				<td> <a href="../elements/6554.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6523.html" target="element"> Control: Product Inventory Control </a> </td>
																				<td> <a href="../elements/6185.html" target="element"> Control: Product Inventory Control </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6555.html" target="element">  </a> </td>
																				<td> <a href="../elements/6555.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/6524.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																				<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>