<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Functional enterprise-control model</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Functional enterprise-control model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-6"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_6" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6215.png" alt="Functional enterprise-control model" usemap="#6215map"/>
			   <map name="6215map">
				  		<area shape="rect" coords="604,37,737,90" href="../elements/6179.html"  target="element">
				  		<area shape="rect" coords="430,37,563,90" href="../elements/6178.html"  target="element">
				  		<area shape="rect" coords="244,10,377,63" href="../elements/6177.html"  target="element">
				  		<area shape="rect" coords="70,70,203,123" href="../elements/6186.html"  target="element">
				  		<area shape="rect" coords="10,157,143,210" href="../elements/6183.html"  target="element">
				  		<area shape="rect" coords="284,130,417,183" href="../elements/6184.html"  target="element">
				  		<area shape="rect" coords="617,437,750,490" href="../elements/6187.html"  target="element">
				  		<area shape="rect" coords="457,244,590,297" href="../elements/6182.html"  target="element">
				  		<area shape="rect" coords="390,384,523,437" href="../elements/6189.html"  target="element">
				  		<area shape="rect" coords="630,337,763,390" href="../elements/6188.html"  target="element">
				  		<area shape="rect" coords="90,230,223,283" href="../elements/6174.html"  target="element">
				  		<area shape="rect" coords="284,244,417,297" href="../elements/6181.html"  target="element">
				  		<area shape="rect" coords="597,157,730,210" href="../elements/6185.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6185.html" target="element"> Control: Product Inventory Control </a> </td>
											    <td> <a href="../elements/6185.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6181.html" target="element"> Control: Maintenance Management </a> </td>
											    <td> <a href="../elements/6181.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6174.html" target="element"> Enterprise: Procurement </a> </td>
											    <td> <a href="../elements/6174.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6188.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
											    <td> <a href="../elements/6189.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6182.html" target="element"> Control: quality assurance </a> </td>
											    <td> <a href="../elements/6182.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6187.html" target="element"> Enterprise: Customer Service </a> </td>
											    <td> <a href="../elements/6187.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
											    <td> <a href="../elements/6184.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6183.html" target="element"> Control: Material and Energy Control </a> </td>
											    <td> <a href="../elements/6183.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
											    <td> <a href="../elements/6186.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
											    <td> <a href="../elements/6177.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6178.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
											    <td> <a href="../elements/6178.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6179.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
											    <td> <a href="../elements/6179.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6199.html" target="element"> Standards and Customer Requirements </a> </td>
																		<td> <a href="../elements/6199.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6182.html" target="element"> Control: quality assurance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6198.html" target="element">  </a> </td>
																		<td> <a href="../elements/6198.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																		<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6200.html" target="element">  </a> </td>
																		<td> <a href="../elements/6200.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																		<td> <a href="../elements/6182.html" target="element"> Control: quality assurance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>