<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>New Order Message Flow</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>New Order Message Flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6298.png" alt="New Order Message Flow" usemap="#6298map"/>
			   <map name="6298map">
				          <area shape="rect" coords="1016,330,1249,403" href="../objects/6683.html" target="element" >
				          <area shape="rect" coords="1043,770,1329,858" href="../objects/6301.html" target="element" >
				          <area shape="rect" coords="50,10,810,50" href="../objects/6300.html" target="element" >
				  				<area shape="rect" coords="1429,336,1562,402" href="../elements/6613.html"  target="element">

				  		<area shape="rect" coords="1383,303,1596,416" href="../elements/6611.html"  target="element">
				  		<area shape="rect" coords="1588,437,1721,504" href="../elements/6566.html"  target="element">
				  		<area shape="rect" coords="1414,437,1547,517" href="../elements/6565.html"  target="element">
				  		<area shape="rect" coords="1222,437,1355,517" href="../elements/6564.html"  target="element">
				  		<area shape="rect" coords="1036,437,1169,490" href="../elements/6562.html"  target="element">
				  		<area shape="rect" coords="863,1043,996,1096" href="../elements/17717.html"  target="element">
				  		<area shape="rect" coords="863,970,996,1023" href="../elements/17719.html"  target="element">
				  		<area shape="rect" coords="830,863,963,916" href="../elements/17716.html"  target="element">
				  		<area shape="rect" coords="70,1110,203,1163" href="../elements/17708.html"  target="element">
				  		<area shape="rect" coords="623,197,756,250" href="../elements/17715.html"  target="element">
				  		<area shape="rect" coords="356,183,489,236" href="../elements/17714.html"  target="element">
				  		<area shape="rect" coords="96,503,229,556" href="../elements/17718.html"  target="element">
				  		<area shape="rect" coords="770,677,903,730" href="../elements/17713.html"  target="element">
				  		<area shape="rect" coords="716,390,849,443" href="../elements/17712.html"  target="element">
				  		<area shape="rect" coords="416,370,549,423" href="../elements/17711.html"  target="element">
				  		<area shape="rect" coords="510,717,643,770" href="../elements/17602.html"  target="element">
				  		<area shape="rect" coords="623,803,756,856" href="../elements/17601.html"  target="element">
				  		<area shape="rect" coords="636,623,769,676" href="../elements/17600.html"  target="element">
				  		<area shape="rect" coords="286,717,419,770" href="../elements/17598.html"  target="element">
				  		<area shape="rect" coords="236,603,369,656" href="../elements/17592.html"  target="element">
				  		<area shape="rect" coords="656,503,789,556" href="../elements/17776.html"  target="element">
				  		<area shape="rect" coords="903,1163,1036,1216" href="../elements/17777.html"  target="element">
				  		<area shape="rect" coords="1030,237,1163,290" href="../elements/17692.html"  target="element">
				  		<area shape="rect" coords="856,237,989,290" href="../elements/17691.html"  target="element">
				  		<area shape="rect" coords="856,143,989,196" href="../elements/17690.html"  target="element">
				  		<area shape="rect" coords="596,283,729,336" href="../elements/17684.html"  target="element">
				  		<area shape="rect" coords="263,1110,396,1163" href="../elements/17634.html"  target="element">
				  		<area shape="rect" coords="296,277,429,330" href="../elements/17640.html"  target="element">
				  		<area shape="rect" coords="250,970,383,1023" href="../elements/10674.html"  target="element">
				  		<area shape="rect" coords="10,970,143,1023" href="../elements/14162.html"  target="element">
				  		<area shape="rect" coords="670,1097,803,1150" href="../elements/17638.html"  target="element">
				  		<area shape="rect" coords="443,1063,576,1116" href="../elements/17637.html"  target="element">
				  		<area shape="rect" coords="1036,930,1169,983" href="../elements/17636.html"  target="element">
				  		<area shape="rect" coords="643,957,776,1010" href="../elements/17635.html"  target="element">
				  				<area shape="rect" coords="1427,818,1572,879" href="../elements/6145.html"  target="element">

				  		<area shape="rect" coords="1403,770,1589,890" href="../elements/6143.html"  target="element">
				  		<area shape="rect" coords="1603,657,1736,737" href="../elements/6195.html"  target="element">
				  		<area shape="rect" coords="1423,657,1556,737" href="../elements/6192.html"  target="element">
				  		<area shape="rect" coords="1243,657,1376,730" href="../elements/6194.html"  target="element">
				  		<area shape="rect" coords="1043,657,1176,730" href="../elements/6193.html"  target="element">
				  		<area shape="rect" coords="1310,537,1443,610" href="../elements/6176.html"  target="element">
				  		<area shape="rect" coords="1130,543,1263,610" href="../elements/6177.html"  target="element">
				  		<area shape="rect" coords="922,543,1076,610" href="../elements/6188.html"  target="element">
				  		<area shape="rect" coords="1490,537,1623,610" href="../elements/6186.html"  target="element">
				  		<area shape="rect" coords="1663,537,1796,604" href="../elements/6184.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
											    <td> <a href="../elements/6184.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
											    <td> <a href="../elements/6186.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6188.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
											    <td> <a href="../elements/6177.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
											    <td> <a href="../elements/6176.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6193.html" target="element"> Order </a> </td>
											    <td> <a href="../elements/6193.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
											    <td> <a href="../elements/6194.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
											    <td> <a href="../elements/6192.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
											    <td> <a href="../elements/6195.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6143.html" target="element"> Verb: SYNC CHANGE </a> </td>
											    <td> <a href="../elements/6143.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6145.html" target="element"> Production schedule revision </a> </td>
													    <td> <a href="../elements/6145.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/17635.html" target="element"> Data object </a> </td>
											    <td> <a href="../elements/17635.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17636.html" target="element"> Data object (2) </a> </td>
											    <td> <a href="../elements/17636.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17637.html" target="element"> Data object (3) </a> </td>
											    <td> <a href="../elements/17637.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17638.html" target="element"> Data object (4) </a> </td>
											    <td> <a href="../elements/17638.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/14162.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
											    <td> <a href="../elements/10674.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17640.html" target="element"> Reprice old order </a> </td>
											    <td> <a href="../elements/17640.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17634.html" target="element"> Planning Module </a> </td>
											    <td> <a href="../elements/17634.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17684.html" target="element"> Plan manufacturing </a> </td>
											    <td> <a href="../elements/17684.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17690.html" target="element"> Evaluate credit </a> </td>
											    <td> <a href="../elements/17690.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17691.html" target="element"> Develop approved proposal </a> </td>
											    <td> <a href="../elements/17691.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17692.html" target="element"> Present proposal </a> </td>
											    <td> <a href="../elements/17692.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17777.html" target="element"> Change order </a> </td>
											    <td> <a href="../elements/17777.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17776.html" target="element"> Manufacturing execution systems </a> </td>
											    <td> <a href="../elements/17776.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17592.html" target="element"> Purchasing agent </a> </td>
											    <td> <a href="../elements/17592.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17598.html" target="element"> ArchiBuilder </a> </td>
											    <td> <a href="../elements/17598.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17600.html" target="element"> New Order </a> </td>
											    <td> <a href="../elements/17600.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17601.html" target="element"> Cancelled Order </a> </td>
											    <td> <a href="../elements/17601.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17602.html" target="element"> Order History </a> </td>
											    <td> <a href="../elements/17602.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17711.html" target="element"> Head of manufacturing </a> </td>
											    <td> <a href="../elements/17711.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17712.html" target="element"> Head of sales </a> </td>
											    <td> <a href="../elements/17712.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17713.html" target="element"> Business actor (4) </a> </td>
											    <td> <a href="../elements/17713.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17718.html" target="element"> Accepted proposal </a> </td>
											    <td> <a href="../elements/17718.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17714.html" target="element"> Manufacturing planner </a> </td>
											    <td> <a href="../elements/17714.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17715.html" target="element"> Logistics planner </a> </td>
											    <td> <a href="../elements/17715.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17708.html" target="element"> Logistics module </a> </td>
											    <td> <a href="../elements/17708.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17716.html" target="element"> Manufacturing engineer </a> </td>
											    <td> <a href="../elements/17716.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17719.html" target="element"> Prepare production line </a> </td>
											    <td> <a href="../elements/17719.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17717.html" target="element"> Transportation company </a> </td>
											    <td> <a href="../elements/17717.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
											    <td> <a href="../elements/6562.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
											    <td> <a href="../elements/6564.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
											    <td> <a href="../elements/6565.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
											    <td> <a href="../elements/6566.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6611.html" target="element"> Verb: CONFIRM </a> </td>
											    <td> <a href="../elements/6611.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6613.html" target="element"> Production schedule revision confirmation </a> </td>
													    <td> <a href="../elements/6613.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6300.html" target="element">  </a> </td>
									           <td> <a href="../objects/6300.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6301.html" target="element">  </a> </td>
									           <td> <a href="../objects/6301.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6683.html" target="element">  </a> </td>
									           <td> <a href="../objects/6683.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6595.html" target="element">  </a> </td>
																		<td> <a href="../elements/6595.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																		<td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6209.html" target="element">  </a> </td>
																		<td> <a href="../elements/6209.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6184.html" target="element"> Control: Production Control </a> </td>
																		<td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6593.html" target="element">  </a> </td>
																		<td> <a href="../elements/6593.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6596.html" target="element">  </a> </td>
																		<td> <a href="../elements/6596.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6566.html" target="element"> Production Confirmation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6210.html" target="element">  </a> </td>
																		<td> <a href="../elements/6210.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6208.html" target="element">  </a> </td>
																		<td> <a href="../elements/6208.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6186.html" target="element"> Control: Production Scheduling (Local) </a> </td>
																		<td> <a href="../elements/6195.html" target="element"> Production Schedule (Cell/Unit/Line-Specific) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6567.html" target="element">  </a> </td>
																		<td> <a href="../elements/6567.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6204.html" target="element">  </a> </td>
																		<td> <a href="../elements/6204.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																		<td> <a href="../elements/6193.html" target="element"> Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6590.html" target="element">  </a> </td>
																		<td> <a href="../elements/6590.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6562.html" target="element"> Order Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6592.html" target="element">  </a> </td>
																		<td> <a href="../elements/6592.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6206.html" target="element">  </a> </td>
																		<td> <a href="../elements/6206.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6205.html" target="element">  </a> </td>
																		<td> <a href="../elements/6205.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																		<td> <a href="../elements/6193.html" target="element"> Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6591.html" target="element">  </a> </td>
																		<td> <a href="../elements/6591.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6564.html" target="element"> Schedule Confirmation (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6207.html" target="element">  </a> </td>
																		<td> <a href="../elements/6207.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6594.html" target="element">  </a> </td>
																		<td> <a href="../elements/6594.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6211.html" target="element">  </a> </td>
																		<td> <a href="../elements/6211.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																		<td> <a href="../elements/6194.html" target="element"> Production Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6168.html" target="element">  </a> </td>
																		<td> <a href="../elements/6168.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6143.html" target="element"> Verb: SYNC CHANGE </a> </td>
																		<td> <a href="../elements/6192.html" target="element"> Production Schedule Update (Site/Area-Specific) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/14164.html" target="element">  </a> </td>
																		<td> <a href="../elements/14164.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/14162.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17710.html" target="element">  </a> </td>
																		<td> <a href="../elements/17710.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																		<td> <a href="../elements/17708.html" target="element"> Logistics module </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17639.html" target="element">  </a> </td>
																		<td> <a href="../elements/17639.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/10674.html" target="element"> ERP </a> </td>
																		<td> <a href="../elements/17634.html" target="element"> Planning Module </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17606.html" target="element">  </a> </td>
																		<td> <a href="../elements/17606.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/17598.html" target="element"> ArchiBuilder </a> </td>
																		<td> <a href="../elements/17592.html" target="element"> Purchasing agent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17641.html" target="element">  </a> </td>
																		<td> <a href="../elements/17641.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/17598.html" target="element"> ArchiBuilder </a> </td>
																		<td> <a href="../elements/17602.html" target="element"> Order History </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17603.html" target="element">  </a> </td>
																		<td> <a href="../elements/17603.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/17600.html" target="element"> New Order </a> </td>
																		<td> <a href="../elements/17601.html" target="element"> Cancelled Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17605.html" target="element">  </a> </td>
																		<td> <a href="../elements/17605.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/17602.html" target="element"> Order History </a> </td>
																		<td> <a href="../elements/17601.html" target="element"> Cancelled Order </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17604.html" target="element">  </a> </td>
																		<td> <a href="../elements/17604.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/17602.html" target="element"> Order History </a> </td>
																		<td> <a href="../elements/17600.html" target="element"> New Order </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6624.html" target="element">  </a> </td>
																		<td> <a href="../elements/6624.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6611.html" target="element"> Verb: CONFIRM </a> </td>
																		<td> <a href="../elements/6565.html" target="element"> Schedule Confirmation (Local) </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>