<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Activity model of production operations management</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Activity model of production operations management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6669.png" alt="02. Activity model of production operations management" usemap="#6669map"/>
			   <map name="6669map">
				          <area shape="rect" coords="803,250,943,379" href="../objects/6820.html" target="element" >
				          <area shape="rect" coords="177,10,737,43" href="../objects/6819.html" target="element" >
				  		<area shape="rect" coords="370,677,503,730" href="../elements/6656.html"  target="element">
				  		<area shape="rect" coords="557,590,690,643" href="../elements/6655.html"  target="element">
				  		<area shape="rect" coords="163,590,296,643" href="../elements/6654.html"  target="element">
				  		<area shape="rect" coords="777,490,910,543" href="../elements/6653.html"  target="element">
				  		<area shape="rect" coords="370,477,503,530" href="../elements/6652.html"  target="element">
				  		<area shape="rect" coords="577,397,710,450" href="../elements/6651.html"  target="element">
				  		<area shape="rect" coords="370,323,503,376" href="../elements/6649.html"  target="element">
				  		<area shape="rect" coords="163,397,296,450" href="../elements/6650.html"  target="element">
				  		<area shape="rect" coords="730,83,863,136" href="../elements/6736.html"  target="element">
				  		<area shape="rect" coords="523,83,656,136" href="../elements/6735.html"  target="element">
				  		<area shape="rect" coords="303,83,436,136" href="../elements/6734.html"  target="element">
				  		<area shape="rect" coords="10,137,143,190" href="../elements/6733.html"  target="element">
				  		<area shape="rect" coords="94,857,820,910" href="../elements/6657.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6657.html" target="element"> Level 0-2 functions </a> </td>
											    <td> <a href="../elements/6657.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6733.html" target="element"> Product Definition </a> </td>
											    <td> <a href="../elements/6733.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6734.html" target="element"> Production Capability </a> </td>
											    <td> <a href="../elements/6734.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6735.html" target="element"> Production Schedule </a> </td>
											    <td> <a href="../elements/6735.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6736.html" target="element"> Production Performance </a> </td>
											    <td> <a href="../elements/6736.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6650.html" target="element"> Production resource management </a> </td>
											    <td> <a href="../elements/6650.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6649.html" target="element"> Detailed production scheduling </a> </td>
											    <td> <a href="../elements/6649.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
											    <td> <a href="../elements/6651.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
											    <td> <a href="../elements/6652.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6653.html" target="element"> Production performance analysis </a> </td>
											    <td> <a href="../elements/6653.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6654.html" target="element"> Product definition management </a> </td>
											    <td> <a href="../elements/6654.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6655.html" target="element"> Production data collection </a> </td>
											    <td> <a href="../elements/6655.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
											    <td> <a href="../elements/6656.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/6819.html" target="element">  </a> </td>
									           <td> <a href="../objects/6819.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6820.html" target="element">  </a> </td>
									           <td> <a href="../objects/6820.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6750.html" target="element"> Equipment &amp; process specific data </a> </td>
																		<td> <a href="../elements/6750.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6657.html" target="element"> Level 0-2 functions </a> </td>
																		<td> <a href="../elements/6655.html" target="element"> Production data collection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6816.html" target="element"> Operational responses </a> </td>
																		<td> <a href="../elements/6816.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6657.html" target="element"> Level 0-2 functions </a> </td>
																		<td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6796.html" target="element">  </a> </td>
																		<td> <a href="../elements/6796.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6650.html" target="element"> Production resource management </a> </td>
																		<td> <a href="../elements/6734.html" target="element"> Production Capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6737.html" target="element">  </a> </td>
																		<td> <a href="../elements/6737.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6650.html" target="element"> Production resource management </a> </td>
																		<td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6739.html" target="element">  </a> </td>
																		<td> <a href="../elements/6739.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6650.html" target="element"> Production resource management </a> </td>
																		<td> <a href="../elements/6649.html" target="element"> Detailed production scheduling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6740.html" target="element">  </a> </td>
																		<td> <a href="../elements/6740.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6649.html" target="element"> Detailed production scheduling </a> </td>
																		<td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6797.html" target="element">  </a> </td>
																		<td> <a href="../elements/6797.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6649.html" target="element"> Detailed production scheduling </a> </td>
																		<td> <a href="../elements/6735.html" target="element"> Production Schedule </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6743.html" target="element">  </a> </td>
																		<td> <a href="../elements/6743.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
																		<td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6798.html" target="element">  </a> </td>
																		<td> <a href="../elements/6798.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
																		<td> <a href="../elements/6736.html" target="element"> Production Performance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6741.html" target="element">  </a> </td>
																		<td> <a href="../elements/6741.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
																		<td> <a href="../elements/6653.html" target="element"> Production performance analysis </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6745.html" target="element">  </a> </td>
																		<td> <a href="../elements/6745.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
																		<td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6795.html" target="element">  </a> </td>
																		<td> <a href="../elements/6795.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6654.html" target="element"> Product definition management </a> </td>
																		<td> <a href="../elements/6733.html" target="element"> Product Definition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6738.html" target="element">  </a> </td>
																		<td> <a href="../elements/6738.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6654.html" target="element"> Product definition management </a> </td>
																		<td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6748.html" target="element">  </a> </td>
																		<td> <a href="../elements/6748.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6654.html" target="element"> Product definition management </a> </td>
																		<td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6749.html" target="element"> Equipment and process specific production rules </a> </td>
																		<td> <a href="../elements/6749.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6654.html" target="element"> Product definition management </a> </td>
																		<td> <a href="../elements/6657.html" target="element"> Level 0-2 functions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6744.html" target="element">  </a> </td>
																		<td> <a href="../elements/6744.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6655.html" target="element"> Production data collection </a> </td>
																		<td> <a href="../elements/6652.html" target="element"> Production dispatching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6742.html" target="element">  </a> </td>
																		<td> <a href="../elements/6742.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6655.html" target="element"> Production data collection </a> </td>
																		<td> <a href="../elements/6651.html" target="element"> Production tracking </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6747.html" target="element"> Operational commands </a> </td>
																		<td> <a href="../elements/6747.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
																		<td> <a href="../elements/6657.html" target="element"> Level 0-2 functions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6799.html" target="element">  </a> </td>
																		<td> <a href="../elements/6799.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6656.html" target="element"> Production execution management </a> </td>
																		<td> <a href="../elements/6655.html" target="element"> Production data collection </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>