<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Infrastructure view</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Infrastructure view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-13"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_13" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6875.png" alt="Infrastructure view" usemap="#6875map"/>
			   <map name="6875map">
				  		<area shape="rect" coords="550,136,683,203" href="../elements/6856.html"  target="element">
				  		<area shape="rect" coords="550,10,683,63" href="../elements/6854.html"  target="element">
				  				<area shape="rect" coords="749,262,882,315" href="../elements/6849.html"  target="element">
				  				<area shape="rect" coords="749,182,882,235" href="../elements/6838.html"  target="element">

				  		<area shape="rect" coords="723,136,923,356" href="../elements/6846.html"  target="element">
				  		<area shape="rect" coords="550,250,683,303" href="../elements/6834.html"  target="element">
				  		<area shape="rect" coords="190,10,323,63" href="../elements/6853.html"  target="element">
				  		<area shape="rect" coords="343,10,476,63" href="../elements/6852.html"  target="element">
				  		<area shape="rect" coords="23,10,156,63" href="../elements/6851.html"  target="element">
				  						<area shape="rect" coords="296,329,429,384" href="../elements/6845.html"  target="element">
				  						<area shape="rect" coords="296,189,429,242" href="../elements/6838.html"  target="element">
				  						<area shape="rect" coords="296,262,429,315" href="../elements/6839.html"  target="element">

				  				<area shape="rect" coords="263,156,476,396" href="../elements/6843.html"  target="element">
				  						<area shape="rect" coords="63,329,196,382" href="../elements/6845.html"  target="element">
				  						<area shape="rect" coords="63,262,196,315" href="../elements/6839.html"  target="element">
				  						<area shape="rect" coords="63,189,196,242" href="../elements/6838.html"  target="element">

				  				<area shape="rect" coords="30,156,243,396" href="../elements/6840.html"  target="element">

				  		<area shape="rect" coords="10,116,496,422" href="../elements/6836.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6836.html" target="element"> Mainframe </a> </td>
											    <td> <a href="../elements/6836.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6840.html" target="element"> Partition 1 </a> </td>
													    <td> <a href="../elements/6840.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6838.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/6838.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6839.html" target="element"> Message Queuing </a> </td>
															    <td> <a href="../elements/6839.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6845.html" target="element"> Hardware device </a> </td>
															    <td> <a href="../elements/6845.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/6843.html" target="element"> Partition 2 </a> </td>
													    <td> <a href="../elements/6843.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6839.html" target="element"> Message Queuing </a> </td>
															    <td> <a href="../elements/6839.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6838.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/6838.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6845.html" target="element"> Hardware device </a> </td>
															    <td> <a href="../elements/6845.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/6851.html" target="element"> Database service </a> </td>
											    <td> <a href="../elements/6851.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6852.html" target="element"> Messaging service </a> </td>
											    <td> <a href="../elements/6852.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6853.html" target="element"> Language service </a> </td>
											    <td> <a href="../elements/6853.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6834.html" target="element"> LAN </a> </td>
											    <td> <a href="../elements/6834.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6846.html" target="element"> UNIX Servers </a> </td>
											    <td> <a href="../elements/6846.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6838.html" target="element"> DBMS </a> </td>
													    <td> <a href="../elements/6838.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6849.html" target="element"> Operating system </a> </td>
													    <td> <a href="../elements/6849.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6854.html" target="element"> Network service </a> </td>
											    <td> <a href="../elements/6854.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6856.html" target="element"> Authentication &amp; Authorization </a> </td>
											    <td> <a href="../elements/6856.html" target="element" class="i18n-elementtype-TechnologyFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6858.html" target="element">  </a> </td>
																		<td> <a href="../elements/6858.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6836.html" target="element"> Mainframe </a> </td>
																		<td> <a href="../elements/6851.html" target="element"> Database service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6860.html" target="element">  </a> </td>
																		<td> <a href="../elements/6860.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6836.html" target="element"> Mainframe </a> </td>
																		<td> <a href="../elements/6852.html" target="element"> Messaging service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6859.html" target="element">  </a> </td>
																		<td> <a href="../elements/6859.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6836.html" target="element"> Mainframe </a> </td>
																		<td> <a href="../elements/6853.html" target="element"> Language service </a> </td>
																	</tr>

													
													
											
																	<tr>
																		<td> <a href="../elements/a12e2212.html" target="element">  </a> </td>
																		<td> <a href="../elements/a12e2212.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6834.html" target="element"> LAN </a> </td>
																		<td> <a href="../elements/6836.html" target="element"> Mainframe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/53b5e7c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/53b5e7c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6834.html" target="element"> LAN </a> </td>
																		<td> <a href="../elements/6846.html" target="element"> UNIX Servers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6864.html" target="element">  </a> </td>
																		<td> <a href="../elements/6864.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/6846.html" target="element"> UNIX Servers </a> </td>
																		<td> <a href="../elements/6856.html" target="element"> Authentication &amp; Authorization </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/6863.html" target="element">  </a> </td>
																		<td> <a href="../elements/6863.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6856.html" target="element"> Authentication &amp; Authorization </a> </td>
																		<td> <a href="../elements/6854.html" target="element"> Network service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>