<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Paper overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Paper overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6906.png" alt="Paper overview" usemap="#6906map"/>
			   <map name="6906map">
				  				<area shape="rect" coords="286,370,392,430" href="../views/6987.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="154,370,260,430" href="../views/6990.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="22,370,128,430" href="../views/6989.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,322,403,462" href="../objects/882ce287.html" target="element" >
				  				<area shape="rect" coords="286,214,392,274" href="../views/6995.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="154,214,260,274" href="../views/6994.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="22,214,128,274" href="../views/6993.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,166,403,306" href="../objects/0a5267d7.html" target="element" >
				  		<area shape="rect" coords="10,478,403,538" href="../views/6998.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,90,403,150" href="../views/6997.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,403,70" href="../views/6996.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/6996.html" target="view"> Architecture vision </a> </td>
											    <td> <a href="../views/6996.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/6997.html" target="view"> Background and use of standards/reference models </a> </td>
											    <td> <a href="../views/6997.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/6998.html" target="view"> Gap analysis and roadmaps </a> </td>
											    <td> <a href="../views/6998.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/0a5267d7.html" target="element"> As-is Architecture </a> </td>
									           <td> <a href="../objects/0a5267d7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/6993.html" target="view"> As-is Business Architecture </a> </td>
													    <td> <a href="../views/6993.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6994.html" target="view"> As-is Application Architecture </a> </td>
													    <td> <a href="../views/6994.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6995.html" target="view"> As-is Technology Architecture </a> </td>
													    <td> <a href="../views/6995.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/882ce287.html" target="element"> To-be Architecture </a> </td>
									           <td> <a href="../objects/882ce287.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/6989.html" target="view"> To-be Business Architecture </a> </td>
													    <td> <a href="../views/6989.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6990.html" target="view"> To-be Application Architecture </a> </td>
													    <td> <a href="../views/6990.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6987.html" target="view"> To-be Technology Architecture </a> </td>
													    <td> <a href="../views/6987.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>