<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05. Equipment hierarchy</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05. Equipment hierarchy</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7435.png" alt="05. Equipment hierarchy" usemap="#7435map"/>
			   <map name="7435map">
				  				<area shape="rect" coords="343,405,516,485" href="../elements/7424.html"  target="element">
				  				<area shape="rect" coords="343,278,516,358" href="../elements/7423.html"  target="element">
				  				<area shape="rect" coords="343,131,516,211" href="../elements/7421.html"  target="element">

				          <area shape="rect" coords="17,92,830,505" href="../objects/7444.html" target="element" >
				          <area shape="rect" coords="248,10,614,63" href="../objects/7438.html" target="element" >
				          <area shape="rect" coords="857,106,1163,249" href="../objects/7437.html" target="element" >
				  						<area shape="rect" coords="545,578,678,638" href="../elements/7748.html"  target="element">

				  				<area shape="rect" coords="532,555,705,655" href="../elements/7428.html"  target="element">
				  						<area shape="rect" coords="562,722,675,782" href="../elements/7801.html"  target="element">

				  				<area shape="rect" coords="532,689,705,795" href="../elements/7429.html"  target="element">
				  						<area shape="rect" coords="138,712,271,772" href="../elements/7749.html"  target="element">

				  				<area shape="rect" coords="118,689,291,789" href="../elements/7426.html"  target="element">
				  						<area shape="rect" coords="352,578,485,638" href="../elements/7747.html"  target="element">

				  				<area shape="rect" coords="332,555,505,655" href="../elements/7427.html"  target="element">
				  						<area shape="rect" coords="144,585,250,645" href="../elements/7746.html"  target="element">

				  				<area shape="rect" coords="118,562,291,655" href="../elements/7425.html"  target="element">
				  						<area shape="rect" coords="536,838,709,918" href="../elements/7409.html"  target="element">
				  						<area shape="rect" coords="336,838,509,918" href="../elements/7408.html"  target="element">
				  						<area shape="rect" coords="123,838,296,918" href="../elements/7407.html"  target="element">

				  		        <area shape="rect" coords="30,805,790,958" href="../objects/7916.html" target="element" >

				          <area shape="rect" coords="10,526,830,1007" href="../objects/7439.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7439.html" target="element"> Typical focus of Level 3 activities </a> </td>
									           <td> <a href="../objects/7439.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/7916.html" target="element"> Actual Level 2, 1, 0 activities </a> </td>
											           <td> <a href="../objects/7916.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/7407.html" target="element"> Batch operations </a> </td>
															    <td> <a href="../elements/7407.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7408.html" target="element"> Continuous operations </a> </td>
															    <td> <a href="../elements/7408.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7409.html" target="element"> Repetitive or discrete operations </a> </td>
															    <td> <a href="../elements/7409.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7425.html" target="element"> Process cell </a> </td>
													    <td> <a href="../elements/7425.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7746.html" target="element"> Process cell controller </a> </td>
															    <td> <a href="../elements/7746.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7427.html" target="element"> Production unit </a> </td>
													    <td> <a href="../elements/7427.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7747.html" target="element"> Production unit controller </a> </td>
															    <td> <a href="../elements/7747.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7426.html" target="element"> Unit </a> </td>
													    <td> <a href="../elements/7426.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7749.html" target="element"> Process cell unit controller </a> </td>
															    <td> <a href="../elements/7749.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7429.html" target="element"> Work cell </a> </td>
													    <td> <a href="../elements/7429.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7801.html" target="element"> Work cell controller </a> </td>
															    <td> <a href="../elements/7801.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7428.html" target="element"> Production line </a> </td>
													    <td> <a href="../elements/7428.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7748.html" target="element"> Production line controller </a> </td>
															    <td> <a href="../elements/7748.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/7437.html" target="element">  </a> </td>
									           <td> <a href="../objects/7437.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7438.html" target="element">  </a> </td>
									           <td> <a href="../objects/7438.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7444.html" target="element"> Typical focus of Level 4 activities </a> </td>
									           <td> <a href="../objects/7444.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/7421.html" target="element"> Enterprise </a> </td>
													    <td> <a href="../elements/7421.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7423.html" target="element"> Site </a> </td>
													    <td> <a href="../elements/7423.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7424.html" target="element"> Area </a> </td>
													    <td> <a href="../elements/7424.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
																			<tr>
																				<td> <a href="../elements/7412.html" target="element">  </a> </td>
																				<td> <a href="../elements/7412.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7425.html" target="element"> Process cell </a> </td>
																				<td> <a href="../elements/7426.html" target="element"> Unit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7419.html" target="element">  </a> </td>
																				<td> <a href="../elements/7419.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/7427.html" target="element"> Production unit </a> </td>
																				<td> <a href="../elements/7408.html" target="element"> Continuous operations </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7417.html" target="element">  </a> </td>
																				<td> <a href="../elements/7417.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/7426.html" target="element"> Unit </a> </td>
																				<td> <a href="../elements/7407.html" target="element"> Batch operations </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7418.html" target="element">  </a> </td>
																				<td> <a href="../elements/7418.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/7429.html" target="element"> Work cell </a> </td>
																				<td> <a href="../elements/7409.html" target="element"> Repetitive or discrete operations </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7416.html" target="element">  </a> </td>
																				<td> <a href="../elements/7416.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7428.html" target="element"> Production line </a> </td>
																				<td> <a href="../elements/7429.html" target="element"> Work cell </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/7411.html" target="element">  </a> </td>
																				<td> <a href="../elements/7411.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7423.html" target="element"> Site </a> </td>
																				<td> <a href="../elements/7424.html" target="element"> Area </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7410.html" target="element">  </a> </td>
																				<td> <a href="../elements/7410.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/7423.html" target="element"> Site </a> </td>
																				<td> <a href="../elements/7421.html" target="element"> Enterprise </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7415.html" target="element">  </a> </td>
																				<td> <a href="../elements/7415.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7424.html" target="element"> Area </a> </td>
																				<td> <a href="../elements/7425.html" target="element"> Process cell </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7413.html" target="element">  </a> </td>
																				<td> <a href="../elements/7413.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7424.html" target="element"> Area </a> </td>
																				<td> <a href="../elements/7427.html" target="element"> Production unit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7414.html" target="element">  </a> </td>
																				<td> <a href="../elements/7414.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7424.html" target="element"> Area </a> </td>
																				<td> <a href="../elements/7428.html" target="element"> Production line </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>