<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. CRM functional model</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. CRM functional model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7475.png" alt="03. CRM functional model" usemap="#7475map"/>
			   <map name="7475map">
				          <area shape="rect" coords="30,617,270,741" href="../objects/7803.html" target="element" >
				  		<area shape="rect" coords="1003,204,1142,263" href="../elements/7387.html"  target="element">
				  		<area shape="rect" coords="843,204,982,263" href="../elements/7386.html"  target="element">
				  		<area shape="rect" coords="656,204,830,263" href="../elements/7385.html"  target="element">
				  		<area shape="rect" coords="870,417,1009,476" href="../elements/7384.html"  target="element">
				  		<area shape="rect" coords="716,417,855,476" href="../elements/7383.html"  target="element">
				  		<area shape="rect" coords="563,417,702,476" href="../elements/7382.html"  target="element">
				  		<area shape="rect" coords="416,417,555,488" href="../elements/7381.html"  target="element">
				  		<area shape="rect" coords="270,417,409,488" href="../elements/7380.html"  target="element">
				  		<area shape="rect" coords="323,204,462,263" href="../elements/7379.html"  target="element">
				  		<area shape="rect" coords="163,204,302,263" href="../elements/7378.html"  target="element">
				  		<area shape="rect" coords="10,204,149,263" href="../elements/7377.html"  target="element">
				  		<area shape="rect" coords="783,97,936,156" href="../elements/7376.html"  target="element">
				  		<area shape="rect" coords="490,204,629,263" href="../elements/7375.html"  target="element">
				  		<area shape="rect" coords="163,110,302,169" href="../elements/7373.html"  target="element">
				  		<area shape="rect" coords="463,10,602,69" href="../elements/7372.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7372.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/7372.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7373.html" target="element"> Acquisition </a> </td>
											    <td> <a href="../elements/7373.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
											    <td> <a href="../elements/7375.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7376.html" target="element"> Understanding </a> </td>
											    <td> <a href="../elements/7376.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7377.html" target="element"> Salesforce automation </a> </td>
											    <td> <a href="../elements/7377.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7378.html" target="element"> Sales management </a> </td>
											    <td> <a href="../elements/7378.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7379.html" target="element"> Acquisition: Social </a> </td>
											    <td> <a href="../elements/7379.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7380.html" target="element"> Service &amp; support productivity </a> </td>
											    <td> <a href="../elements/7380.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7381.html" target="element"> Web customer Service </a> </td>
											    <td> <a href="../elements/7381.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7382.html" target="element"> Billing </a> </td>
											    <td> <a href="../elements/7382.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7383.html" target="element"> Field service management </a> </td>
											    <td> <a href="../elements/7383.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7384.html" target="element"> Retention: Social </a> </td>
											    <td> <a href="../elements/7384.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7385.html" target="element"> Cross-functional customer analytics </a> </td>
											    <td> <a href="../elements/7385.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7386.html" target="element"> Sales analytics </a> </td>
											    <td> <a href="../elements/7386.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7387.html" target="element"> Data management </a> </td>
											    <td> <a href="../elements/7387.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7803.html" target="element">  </a> </td>
									           <td> <a href="../objects/7803.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7393.html" target="element">  </a> </td>
																		<td> <a href="../elements/7393.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7372.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/7376.html" target="element"> Understanding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7390.html" target="element">  </a> </td>
																		<td> <a href="../elements/7390.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7372.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/7373.html" target="element"> Acquisition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7392.html" target="element">  </a> </td>
																		<td> <a href="../elements/7392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7372.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7396.html" target="element">  </a> </td>
																		<td> <a href="../elements/7396.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7373.html" target="element"> Acquisition </a> </td>
																		<td> <a href="../elements/7379.html" target="element"> Acquisition: Social </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7394.html" target="element">  </a> </td>
																		<td> <a href="../elements/7394.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7373.html" target="element"> Acquisition </a> </td>
																		<td> <a href="../elements/7377.html" target="element"> Salesforce automation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7395.html" target="element">  </a> </td>
																		<td> <a href="../elements/7395.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7373.html" target="element"> Acquisition </a> </td>
																		<td> <a href="../elements/7378.html" target="element"> Sales management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7400.html" target="element">  </a> </td>
																		<td> <a href="../elements/7400.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																		<td> <a href="../elements/7383.html" target="element"> Field service management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7399.html" target="element">  </a> </td>
																		<td> <a href="../elements/7399.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																		<td> <a href="../elements/7382.html" target="element"> Billing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7401.html" target="element">  </a> </td>
																		<td> <a href="../elements/7401.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																		<td> <a href="../elements/7384.html" target="element"> Retention: Social </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7398.html" target="element">  </a> </td>
																		<td> <a href="../elements/7398.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																		<td> <a href="../elements/7381.html" target="element"> Web customer Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7397.html" target="element">  </a> </td>
																		<td> <a href="../elements/7397.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7375.html" target="element"> Retention </a> </td>
																		<td> <a href="../elements/7380.html" target="element"> Service &amp; support productivity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7404.html" target="element">  </a> </td>
																		<td> <a href="../elements/7404.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7376.html" target="element"> Understanding </a> </td>
																		<td> <a href="../elements/7387.html" target="element"> Data management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7402.html" target="element">  </a> </td>
																		<td> <a href="../elements/7402.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7376.html" target="element"> Understanding </a> </td>
																		<td> <a href="../elements/7385.html" target="element"> Cross-functional customer analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7403.html" target="element">  </a> </td>
																		<td> <a href="../elements/7403.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7376.html" target="element"> Understanding </a> </td>
																		<td> <a href="../elements/7386.html" target="element"> Sales analytics </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>