<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07. Object model summary</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07. Object model summary</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-11"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_11" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7924.png" alt="07. Object model summary" usemap="#7924map"/>
			   <map name="7924map">
				          <area shape="rect" coords="16,100,202,202" href="../objects/7927.html" target="element" >
				          <area shape="rect" coords="166,10,632,57" href="../objects/7926.html" target="element" >
				  		<area shape="rect" coords="10,387,143,455" href="../elements/7991.html"  target="element">
				  		<area shape="rect" coords="690,280,823,333" href="../elements/7949.html"  target="element">
				  		<area shape="rect" coords="516,280,649,333" href="../elements/7948.html"  target="element">
				  		<area shape="rect" coords="343,280,476,333" href="../elements/7947.html"  target="element">
				  		<area shape="rect" coords="183,280,316,340" href="../elements/7946.html"  target="element">
				  		<area shape="rect" coords="10,280,143,333" href="../elements/7945.html"  target="element">
				  		<area shape="rect" coords="696,194,829,247" href="../elements/7944.html"  target="element">
				  		<area shape="rect" coords="516,194,649,247" href="../elements/7943.html"  target="element">
				  		<area shape="rect" coords="343,194,476,247" href="../elements/7942.html"  target="element">
				  		<area shape="rect" coords="696,107,829,160" href="../elements/7941.html"  target="element">
				  		<area shape="rect" coords="516,107,649,160" href="../elements/7940.html"  target="element">
				  		<area shape="rect" coords="690,480,823,551" href="../elements/8000.html"  target="element">
				  		<area shape="rect" coords="516,480,649,551" href="../elements/7999.html"  target="element">
				  		<area shape="rect" coords="343,480,476,551" href="../elements/7998.html"  target="element">
				  		<area shape="rect" coords="183,480,316,551" href="../elements/7997.html"  target="element">
				  		<area shape="rect" coords="10,480,143,551" href="../elements/7996.html"  target="element">
				  		<area shape="rect" coords="690,387,823,455" href="../elements/7995.html"  target="element">
				  		<area shape="rect" coords="516,387,649,455" href="../elements/7994.html"  target="element">
				  		<area shape="rect" coords="343,387,476,455" href="../elements/7993.html"  target="element">
				  		<area shape="rect" coords="183,383,316,458" href="../elements/7992.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7992.html" target="element"> Resource segment capability </a> </td>
											    <td> <a href="../elements/7992.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7993.html" target="element"> Resource specification </a> </td>
											    <td> <a href="../elements/7993.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7994.html" target="element"> Resource requirement </a> </td>
											    <td> <a href="../elements/7994.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7995.html" target="element"> Resource actual </a> </td>
											    <td> <a href="../elements/7995.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7996.html" target="element"> Resource capability property </a> </td>
											    <td> <a href="../elements/7996.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7997.html" target="element"> Resource segment capability property </a> </td>
											    <td> <a href="../elements/7997.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7998.html" target="element"> Resource specification property </a> </td>
											    <td> <a href="../elements/7998.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7999.html" target="element"> Resource requirement property </a> </td>
											    <td> <a href="../elements/7999.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8000.html" target="element"> Resource actual property </a> </td>
											    <td> <a href="../elements/8000.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7940.html" target="element"> Production schedule </a> </td>
											    <td> <a href="../elements/7940.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7941.html" target="element"> Production performance </a> </td>
											    <td> <a href="../elements/7941.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7942.html" target="element"> Production rule </a> </td>
											    <td> <a href="../elements/7942.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7943.html" target="element"> Production request </a> </td>
											    <td> <a href="../elements/7943.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7944.html" target="element"> Production response </a> </td>
											    <td> <a href="../elements/7944.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7945.html" target="element"> Production capability </a> </td>
											    <td> <a href="../elements/7945.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7946.html" target="element"> Process segment capability </a> </td>
											    <td> <a href="../elements/7946.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7947.html" target="element"> Product segment </a> </td>
											    <td> <a href="../elements/7947.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7948.html" target="element"> Segment requirement </a> </td>
											    <td> <a href="../elements/7948.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7949.html" target="element"> Segment response </a> </td>
											    <td> <a href="../elements/7949.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7991.html" target="element"> Resource capability </a> </td>
											    <td> <a href="../elements/7991.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7926.html" target="element">  </a> </td>
									           <td> <a href="../objects/7926.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7927.html" target="element">  </a> </td>
									           <td> <a href="../objects/7927.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8004.html" target="element">  </a> </td>
																		<td> <a href="../elements/8004.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7992.html" target="element"> Resource segment capability </a> </td>
																		<td> <a href="../elements/7997.html" target="element"> Resource segment capability property </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8081.html" target="element">  </a> </td>
																		<td> <a href="../elements/8081.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7992.html" target="element"> Resource segment capability </a> </td>
																		<td> <a href="../elements/7991.html" target="element"> Resource capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8072.html" target="element">  </a> </td>
																		<td> <a href="../elements/8072.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7992.html" target="element"> Resource segment capability </a> </td>
																		<td> <a href="../elements/7946.html" target="element"> Process segment capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8073.html" target="element">  </a> </td>
																		<td> <a href="../elements/8073.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7993.html" target="element"> Resource specification </a> </td>
																		<td> <a href="../elements/7947.html" target="element"> Product segment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8082.html" target="element">  </a> </td>
																		<td> <a href="../elements/8082.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7993.html" target="element"> Resource specification </a> </td>
																		<td> <a href="../elements/7992.html" target="element"> Resource segment capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8003.html" target="element">  </a> </td>
																		<td> <a href="../elements/8003.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7993.html" target="element"> Resource specification </a> </td>
																		<td> <a href="../elements/7998.html" target="element"> Resource specification property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8002.html" target="element">  </a> </td>
																		<td> <a href="../elements/8002.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7994.html" target="element"> Resource requirement </a> </td>
																		<td> <a href="../elements/7999.html" target="element"> Resource requirement property </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8074.html" target="element">  </a> </td>
																		<td> <a href="../elements/8074.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7994.html" target="element"> Resource requirement </a> </td>
																		<td> <a href="../elements/7948.html" target="element"> Segment requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8083.html" target="element">  </a> </td>
																		<td> <a href="../elements/8083.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7994.html" target="element"> Resource requirement </a> </td>
																		<td> <a href="../elements/7993.html" target="element"> Resource specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8076.html" target="element">  </a> </td>
																		<td> <a href="../elements/8076.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7995.html" target="element"> Resource actual </a> </td>
																		<td> <a href="../elements/7994.html" target="element"> Resource requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8075.html" target="element">  </a> </td>
																		<td> <a href="../elements/8075.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7995.html" target="element"> Resource actual </a> </td>
																		<td> <a href="../elements/7949.html" target="element"> Segment response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8001.html" target="element">  </a> </td>
																		<td> <a href="../elements/8001.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7995.html" target="element"> Resource actual </a> </td>
																		<td> <a href="../elements/8000.html" target="element"> Resource actual property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8080.html" target="element">  </a> </td>
																		<td> <a href="../elements/8080.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7997.html" target="element"> Resource segment capability property </a> </td>
																		<td> <a href="../elements/7996.html" target="element"> Resource capability property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8079.html" target="element">  </a> </td>
																		<td> <a href="../elements/8079.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7998.html" target="element"> Resource specification property </a> </td>
																		<td> <a href="../elements/7997.html" target="element"> Resource segment capability property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8078.html" target="element">  </a> </td>
																		<td> <a href="../elements/8078.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7999.html" target="element"> Resource requirement property </a> </td>
																		<td> <a href="../elements/7998.html" target="element"> Resource specification property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8077.html" target="element">  </a> </td>
																		<td> <a href="../elements/8077.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8000.html" target="element"> Resource actual property </a> </td>
																		<td> <a href="../elements/7999.html" target="element"> Resource requirement property </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8008.html" target="element">  </a> </td>
																		<td> <a href="../elements/8008.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7940.html" target="element"> Production schedule </a> </td>
																		<td> <a href="../elements/7943.html" target="element"> Production request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8006.html" target="element">  </a> </td>
																		<td> <a href="../elements/8006.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7941.html" target="element"> Production performance </a> </td>
																		<td> <a href="../elements/7944.html" target="element"> Production response </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8010.html" target="element">  </a> </td>
																		<td> <a href="../elements/8010.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7942.html" target="element"> Production rule </a> </td>
																		<td> <a href="../elements/7947.html" target="element"> Product segment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8009.html" target="element">  </a> </td>
																		<td> <a href="../elements/8009.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7943.html" target="element"> Production request </a> </td>
																		<td> <a href="../elements/7948.html" target="element"> Segment requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8007.html" target="element">  </a> </td>
																		<td> <a href="../elements/8007.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7944.html" target="element"> Production response </a> </td>
																		<td> <a href="../elements/7949.html" target="element"> Segment response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8085.html" target="element">  </a> </td>
																		<td> <a href="../elements/8085.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7944.html" target="element"> Production response </a> </td>
																		<td> <a href="../elements/7943.html" target="element"> Production request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8087.html" target="element">  </a> </td>
																		<td> <a href="../elements/8087.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7947.html" target="element"> Product segment </a> </td>
																		<td> <a href="../elements/7946.html" target="element"> Process segment capability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8086.html" target="element">  </a> </td>
																		<td> <a href="../elements/8086.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7948.html" target="element"> Segment requirement </a> </td>
																		<td> <a href="../elements/7947.html" target="element"> Product segment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8084.html" target="element">  </a> </td>
																		<td> <a href="../elements/8084.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7949.html" target="element"> Segment response </a> </td>
																		<td> <a href="../elements/7948.html" target="element"> Segment requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8071.html" target="element">  </a> </td>
																		<td> <a href="../elements/8071.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7991.html" target="element"> Resource capability </a> </td>
																		<td> <a href="../elements/7945.html" target="element"> Production capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8005.html" target="element">  </a> </td>
																		<td> <a href="../elements/8005.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7991.html" target="element"> Resource capability </a> </td>
																		<td> <a href="../elements/7996.html" target="element"> Resource capability property </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>