<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-1. Summary functional enterprise-control model</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-1. Summary functional enterprise-control model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9223.png" alt="01-1. Summary functional enterprise-control model" usemap="#9223map"/>
			   <map name="9223map">
				  		<area shape="rect" coords="577,34,737,87" href="../elements/9410.html"  target="element">
				  		<area shape="rect" coords="188,34,368,87" href="../elements/9409.html"  target="element">
				  		<area shape="rect" coords="414,26,547,96" href="../elements/9408.html"  target="element">
				  		<area shape="rect" coords="10,10,143,112" href="../elements/9368.html"  target="element">
				  		<area shape="rect" coords="784,10,917,112" href="../elements/9369.html"  target="element">
				  		<area shape="rect" coords="784,162,917,215" href="../elements/9367.html"  target="element">
				  		<area shape="rect" coords="10,162,143,215" href="../elements/9222.html"  target="element">
				  		<area shape="rect" coords="414,154,547,224" href="../elements/6138.html"  target="element">
				  		<area shape="rect" coords="577,162,737,215" href="../elements/6141.html"  target="element">
				  		<area shape="rect" coords="185,162,371,215" href="../elements/6140.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
											    <td> <a href="../elements/6140.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
											    <td> <a href="../elements/6141.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
											    <td> <a href="../elements/6138.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9222.html" target="element"> Enterprise application functions </a> </td>
											    <td> <a href="../elements/9222.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9367.html" target="element"> Control application functions </a> </td>
											    <td> <a href="../elements/9367.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9369.html" target="element"> Control: Manufacturing Operations &amp; Control business functions </a> </td>
											    <td> <a href="../elements/9369.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
											    <td> <a href="../elements/9368.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9408.html" target="element"> Enterprise-control functional interface </a> </td>
											    <td> <a href="../elements/9408.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9409.html" target="element"> Enterprise functional integration </a> </td>
											    <td> <a href="../elements/9409.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9410.html" target="element"> Control functional integration </a> </td>
											    <td> <a href="../elements/9410.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9379.html" target="element">  </a> </td>
																		<td> <a href="../elements/9379.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/9222.html" target="element"> Enterprise application functions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9422.html" target="element">  </a> </td>
																		<td> <a href="../elements/9422.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																		<td> <a href="../elements/9409.html" target="element"> Enterprise functional integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9423.html" target="element">  </a> </td>
																		<td> <a href="../elements/9423.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/9410.html" target="element"> Control functional integration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9380.html" target="element">  </a> </td>
																		<td> <a href="../elements/9380.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																		<td> <a href="../elements/9367.html" target="element"> Control application functions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9424.html" target="element">  </a> </td>
																		<td> <a href="../elements/9424.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
																		<td> <a href="../elements/9408.html" target="element"> Enterprise-control functional interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6156.html" target="element">  </a> </td>
																		<td> <a href="../elements/6156.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
																		<td> <a href="../elements/6140.html" target="element"> Enterprise application integration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6157.html" target="element">  </a> </td>
																		<td> <a href="../elements/6157.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6138.html" target="element"> Enterprise-control application interface </a> </td>
																		<td> <a href="../elements/6141.html" target="element"> Control application Integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9378.html" target="element">  </a> </td>
																		<td> <a href="../elements/9378.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9222.html" target="element"> Enterprise application functions </a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9407.html" target="element">  </a> </td>
																		<td> <a href="../elements/9407.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9367.html" target="element"> Control application functions </a> </td>
																		<td> <a href="../elements/9369.html" target="element"> Control: Manufacturing Operations &amp; Control business functions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9426.html" target="element">  </a> </td>
																		<td> <a href="../elements/9426.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9409.html" target="element"> Enterprise functional integration </a> </td>
																		<td> <a href="../elements/9408.html" target="element"> Enterprise-control functional interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9425.html" target="element">  </a> </td>
																		<td> <a href="../elements/9425.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9409.html" target="element"> Enterprise functional integration </a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9427.html" target="element">  </a> </td>
																		<td> <a href="../elements/9427.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9410.html" target="element"> Control functional integration </a> </td>
																		<td> <a href="../elements/9408.html" target="element"> Enterprise-control functional interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9428.html" target="element">  </a> </td>
																		<td> <a href="../elements/9428.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9410.html" target="element"> Control functional integration </a> </td>
																		<td> <a href="../elements/9369.html" target="element"> Control: Manufacturing Operations &amp; Control business functions </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>