<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-2. Enterprise functions</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-2. Enterprise functions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9436.png" alt="01-2. Enterprise functions" usemap="#9436map"/>
			   <map name="9436map">
				  		<area shape="rect" coords="100,170,233,276" href="../elements/6189.html"  target="element">
				  		<area shape="rect" coords="292,172,425,243" href="../elements/6188.html"  target="element">
				  		<area shape="rect" coords="336,330,469,417" href="../elements/6174.html"  target="element">
				  		<area shape="rect" coords="723,396,856,483" href="../elements/6177.html"  target="element">
				  		<area shape="rect" coords="876,396,1009,483" href="../elements/6178.html"  target="element">
				  		<area shape="rect" coords="1036,396,1169,483" href="../elements/6179.html"  target="element">
				  		<area shape="rect" coords="176,330,309,417" href="../elements/6172.html"  target="element">
				  		<area shape="rect" coords="10,323,143,410" href="../elements/6173.html"  target="element">
				  		<area shape="rect" coords="476,503,609,590" href="../elements/6180.html"  target="element">
				  		<area shape="rect" coords="630,503,763,590" href="../elements/6176.html"  target="element">
				  		<area shape="rect" coords="330,503,463,590" href="../elements/6175.html"  target="element">
				  		<area shape="rect" coords="283,10,416,65" href="../elements/9444.html"  target="element">
				  		<area shape="rect" coords="663,172,796,291" href="../elements/9368.html"  target="element">
				  		<area shape="rect" coords="483,172,616,243" href="../elements/6187.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6187.html" target="element"> Enterprise: Customer Service </a> </td>
											    <td> <a href="../elements/6187.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
											    <td> <a href="../elements/9368.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9444.html" target="element"> Enterprise Functions </a> </td>
											    <td> <a href="../elements/9444.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6175.html" target="element"> Enterprise: Material and Energy Control </a> </td>
											    <td> <a href="../elements/6175.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
											    <td> <a href="../elements/6176.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6180.html" target="element"> Enterprise: Product Inventory Control </a> </td>
											    <td> <a href="../elements/6180.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6173.html" target="element"> Enterprise: Maintenance Management </a> </td>
											    <td> <a href="../elements/6173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6172.html" target="element"> Enterprise: Quality Assurance </a> </td>
											    <td> <a href="../elements/6172.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6179.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
											    <td> <a href="../elements/6179.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6178.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
											    <td> <a href="../elements/6178.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
											    <td> <a href="../elements/6177.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6174.html" target="element"> Enterprise: Procurement </a> </td>
											    <td> <a href="../elements/6174.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
											    <td> <a href="../elements/6188.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
											    <td> <a href="../elements/6189.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9668.html" target="element">  </a> </td>
																		<td> <a href="../elements/9668.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6175.html" target="element"> Enterprise: Material and Energy Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9663.html" target="element">  </a> </td>
																		<td> <a href="../elements/9663.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6177.html" target="element"> Enterprise: Order Processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9665.html" target="element">  </a> </td>
																		<td> <a href="../elements/9665.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6179.html" target="element"> Enterprise: Product Shipping Admin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9662.html" target="element">  </a> </td>
																		<td> <a href="../elements/9662.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6174.html" target="element"> Enterprise: Procurement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9660.html" target="element">  </a> </td>
																		<td> <a href="../elements/9660.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6173.html" target="element"> Enterprise: Maintenance Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9667.html" target="element">  </a> </td>
																		<td> <a href="../elements/9667.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6180.html" target="element"> Enterprise: Product Inventory Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9664.html" target="element">  </a> </td>
																		<td> <a href="../elements/9664.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6178.html" target="element"> Enterprise: Product Cost Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9666.html" target="element">  </a> </td>
																		<td> <a href="../elements/9666.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6176.html" target="element"> Enterprise: Production Scheduling (Global) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9661.html" target="element">  </a> </td>
																		<td> <a href="../elements/9661.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																		<td> <a href="../elements/6172.html" target="element"> Enterprise: Quality Assurance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9657.html" target="element">  </a> </td>
																		<td> <a href="../elements/9657.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9444.html" target="element"> Enterprise Functions </a> </td>
																		<td> <a href="../elements/6188.html" target="element"> Enterprise: Marketing &amp; Sales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9656.html" target="element">  </a> </td>
																		<td> <a href="../elements/9656.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9444.html" target="element"> Enterprise Functions </a> </td>
																		<td> <a href="../elements/6189.html" target="element"> Enterprise: Research, Development &amp; Engineering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9659.html" target="element">  </a> </td>
																		<td> <a href="../elements/9659.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9444.html" target="element"> Enterprise Functions </a> </td>
																		<td> <a href="../elements/9368.html" target="element"> Enterprise: Business Planning &amp; Logistics business functions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9658.html" target="element">  </a> </td>
																		<td> <a href="../elements/9658.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9444.html" target="element"> Enterprise Functions </a> </td>
																		<td> <a href="../elements/6187.html" target="element"> Enterprise: Customer Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>