<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Motivation - Customer satisfaction focus</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Motivation - Customer satisfaction focus</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-22"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_22" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9890.png" alt="Motivation - Customer satisfaction focus" usemap="#9890map"/>
			   <map name="9890map">
				  		<area shape="rect" coords="217,310,363,396" href="../elements/10222.html"  target="element">
				  		<area shape="rect" coords="104,10,243,96" href="../elements/7101.html"  target="element">
				  		<area shape="rect" coords="50,310,189,396" href="../elements/8405.html"  target="element">
				  		<area shape="rect" coords="10,470,149,556" href="../elements/8238.html"  target="element">
				  		<area shape="rect" coords="437,310,576,396" href="../elements/8257.html"  target="element">
				  		<area shape="rect" coords="597,310,736,396" href="../elements/8239.html"  target="element">
				  		<area shape="rect" coords="423,157,562,243" href="../elements/8359.html"  target="element">
				  		<area shape="rect" coords="50,157,189,243" href="../elements/7104.html"  target="element">
				  		<area shape="rect" coords="330,10,469,96" href="../elements/7257.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7257.html" target="element"> Builder </a> </td>
											    <td> <a href="../elements/7257.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7104.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/7104.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8359.html" target="element"> Service quality </a> </td>
											    <td> <a href="../elements/8359.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8239.html" target="element"> Market pressure on service innovation </a> </td>
											    <td> <a href="../elements/8239.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8257.html" target="element"> Suboptimal client profiling </a> </td>
											    <td> <a href="../elements/8257.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8238.html" target="element"> Inefficient order fullfilment </a> </td>
											    <td> <a href="../elements/8238.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8405.html" target="element"> Lead time to customer too long </a> </td>
											    <td> <a href="../elements/8405.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7101.html" target="element"> Management </a> </td>
											    <td> <a href="../elements/7101.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/10222.html" target="element"> Underdevelopped customer relationship </a> </td>
											    <td> <a href="../elements/10222.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9749.html" target="element">  </a> </td>
																		<td> <a href="../elements/9749.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7104.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/8405.html" target="element"> Lead time to customer too long </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7259.html" target="element">  </a> </td>
																		<td> <a href="../elements/7259.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7104.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/7257.html" target="element"> Builder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8241.html" target="element">  </a> </td>
																		<td> <a href="../elements/8241.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8359.html" target="element"> Service quality </a> </td>
																		<td> <a href="../elements/8239.html" target="element"> Market pressure on service innovation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8366.html" target="element">  </a> </td>
																		<td> <a href="../elements/8366.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8359.html" target="element"> Service quality </a> </td>
																		<td> <a href="../elements/7257.html" target="element"> Builder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10184.html" target="element">  </a> </td>
																		<td> <a href="../elements/10184.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8359.html" target="element"> Service quality </a> </td>
																		<td> <a href="../elements/10222.html" target="element"> Underdevelopped customer relationship </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9775.html" target="element">  </a> </td>
																		<td> <a href="../elements/9775.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8405.html" target="element"> Lead time to customer too long </a> </td>
																		<td> <a href="../elements/8238.html" target="element"> Inefficient order fullfilment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7107.html" target="element">  </a> </td>
																		<td> <a href="../elements/7107.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7101.html" target="element"> Management </a> </td>
																		<td> <a href="../elements/7104.html" target="element"> Customer satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10223.html" target="element">  </a> </td>
																		<td> <a href="../elements/10223.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7101.html" target="element"> Management </a> </td>
																		<td> <a href="../elements/8359.html" target="element"> Service quality </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8263.html" target="element">  </a> </td>
																		<td> <a href="../elements/8263.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/10222.html" target="element"> Underdevelopped customer relationship </a> </td>
																		<td> <a href="../elements/8257.html" target="element"> Suboptimal client profiling </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>